---
layout: standard-page
title: Data Standards
group: Platform and Standards
left-content-nav-order: 1
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">

	<h3 class="subheading" tabindex="0">Data Standards</h3>

	<h4>Purpose</h4> 

	<p>Provides an approved set of expectations for governing architectural components of the data assets. Data standards address data representations, data access, and data distribution fundamental to establishing control over the data layer and the efficient use and exchange of information.</p>

	<h4>Introductory Notes</h4> 

	<p>Data standards define the approach and practices for developing, approving, and instituting compliance for data representation, data access, and data distribution standards.  These standards may include any of the following:</p>
	<ul>
		<li><strong>Data representation</strong> – business terms and definitions (See <em>Business Glossary</em>), allowed values (See <em>Metadata Management</em>), formats, logical and physical naming and abbreviation standards, model management standards, etc.</li>
		<li><strong>Data access</strong> – common data services, information exchange standards (e.g., XML), standard methods for bulk data movement and point-to-point interfaces, data integration standards (e.g., extract, transform, and load standards, etc.)</li>
		<li><strong>Data distribution</strong> – ownership and authority (<em>See Governance Management</em>), requesting and approving access, internal and external data provisioning (e.g., portals, web services, etc.), distribution controls and criteria-based access restrictions, distribution models (e.g., push, pull, publish, and subscribe, etc.), regulatory authority and audit, etc.</li>
	</ul>

	<p>The organization’s standards influence platform choices, technology and tool selection, common integration rules, and the system development / data design process.  Development of standards is essential. For example, variances in standards for patient demographic data across different vendor products and between organizations can cause increased incidence of duplicate records and sub-optimal results for matching algorithms.  For organizations building their own systems, a standards-driven approach will prevent many potential issues in integrating data, migrating legacy systems, and redesigning existing data stores.</p>

	<p>Consistently following standards for data formats at the point of capture / data entry is a critical activity in preventing incorrect or ambiguous patient identity. For example, entering both first and last names in a Patient First Name field or entering a birth date (where not restricted by screen edits) in MMDDYY versus MMDDYYY format, will create the potential for identification errors.</p> 

	<p>It is important for business representatives to take an active role through data governance in considering and approving data standards. If an organization can successfully employ a collaborative approach among stakeholders, it can define a systematic, governed process to develop, institutionalize, promote, and enforce standards that are aligned with organizational objectives and architectural decisions.</p> 

	<p>Once established and extended across the organization, supported by active governance, the collective set of data standards provides the following benefits:</p>

	<ul>
		<li>Builds staff knowledge about and understanding of the data;</li>
		<li>Improves the consistency of the patient data for all purposes;</li>
		<li>Contributes to the population of the metadata repository;</li>
		<li>Enables improvements to the design process for data stores;</li>
		<li>Improves the accuracy and quality of data exchanged among organizations;</li>
		<li>Improves the technology selection process; and</li>
		<li>Reduces costs and effort by reusing established standards and preventing ad hoc creation of standards.</li>
	</ul>

	<div class="featherlight-group">

		{% include_relative questions-help/data-standards/data-standards-1-1.html %}

		{% include_relative questions-help/data-standards/data-standards-2-1.html %}

		{% include_relative questions-help/data-standards/data-standards-3-1.html %}

		{% include_relative questions-help/data-standards/data-standards-3-2.html %}


	</div>

	
</div> <!-- end center content -->


{% include right-content.html %}
