---
layout: standard-page
title: Data Management Platform
group: Platform and Standards
left-content-nav-order: 2
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">
	
	<h3 id="" class="subheading">Data Management Platform</h3>

	<h4>Purpose</h4>

	<p>Developing or acquiring an effective technology solution and infrastructure that satisfies current and anticipated future business data needs.</p>

	<h4>Introductory Notes</h4>

	<p>A data management platform may range from a single data store supported by software functionality to a broad and complex set of technologies and features supporting multiple operational systems and repositories.  The platform serves as a system of record, a trusted source or authoritative source of patient demographic data.  Its scope typically includes mechanisms to support data distribution, transformation, and integration into consuming internal or external applications.</p>

	<p>Whatever the size, scope, or complexity may be, the data management platform hosting a data set describes the technological infrastructure surrounding the data, managed under a common authority (an owner, information technology, a service level agreement, etc.).  Although most organizations host multiple data stores and enabling technologies to manage data across key business processes to meet data management objectives, the questions posed in this section apply to both the overall platform instantiation as well as any components.</p>

	<p>Since the data management platform significantly impacts timeliness, accuracy, data access, and performance, the platform selection process should be well aligned with priority data management initiatives and the organization’s data quality plan to ensure that features and capabilities required by data consumers will be supported.</p>

	<p>When considering the need for a new platform, the first evaluation area to address is “build or buy.”  The organization is advised to inventory existing data stores and corresponding capabilities. This activity should be requirements-driven, based on consensus about the features needed to improve the overall quality of patient demographic data.  Many useful considerations that can be applied are addressed in a number of process areas in this document.</p>

	<p>A requirements-based approach is likely to surface any gaps, for instance: the organization has decided to capture and store historical names and addresses for patients, but the capability does not exist in the current platform; or the organization currently matches patient identities manually, but would like the platform to provide functionality for an embedded algorithm for record matching. The gap analysis should be performed at a level of detail that will help determine if possible modifications to the existing platform could meet requirements in a costeffective manner.</p>

	<p>The platform should be evaluated for its ability to support the organization’s data standards, e.g., the ability to capture a country code for a phone number.  Supporting requirements, such as data access controls and data privacy considerations (e.g., masking all but the last four digits of a Social Security Number) should be also factored into the evaluation effort.  In addition, the platform should also be evaluated for desirable features such as accommodation of common data exchange standards and mechanisms, automated configurable workflow, allowing an authorized user to add quality rules, and notification of potential duplicate records, etc.</p> 
  
	<p>Typically, the data management function and/or information technology develop a selection template containing features, standards, technology parameters, cost, and other factors.  Then governance is engaged to ensure that all stakeholders across the patient demographic data lifecycle have had a change to propose modified or additional requirements. The responsible team can present the results of research, proofs of concept, demos, etc. for the competing products to the governance body for their input. This approach should yield a well-informed consensus decision and significantly reduce the risk of leaving out a feature or requirement that may prove to be important after implementation.</p>

	<p>Organizations which approach the data management platform decisions as described above will realize the following benefits:</p>
	<ul>
		<li>Establish data management platforms that meet business needs and specific requirements;</li>
		<li>Ensure that the platform is secure, resilient, extensible, and flexible for future changes;</li>
		<li>Improve the quality of patient demographic data across the organization’s lifecycle;</li>
		<li>Realize gains in staff efficiency and higher productivity;</li>
		<li>Experience increased coordination among data suppliers and consumers; and</li>
		<li>Realize additional benefits from inclusion of useful features such as workflow and notifications.</li>
	</ul>

</div> <!-- end center content -->


{% include right-content.html %}
