---
layout: standard-page
title: Platform and Standards
slug: platform-and-standards
group: Platform and Standards
left-content-nav-order: 20
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">

	<p class="page-definition" tabindex="0">Best practices for establishing standards that ensure the implemented data management platform successfully integrates, manages, retains, and provides data assets to support business objectives.</p>

	<p>Platform and Standards contains process areas designed to assist an organization to design and build data stores or acquire data from a data provider, to ensure that:</p>
	<ul>
		<li>Present and future business objectives are met by the data assets;</li>
		<li>Well-crafted and enforceable standards are established, approved, and implemented;</li>
		<li>The data management platform and supporting technologies meet scope and performance requirements;</li>
		<li>Disparate sources of data are integrated for operations, reporting, and analytics;</li>
		<li>Historical data is captured and managed to improve patient identity integrity; and</li>
		<li>Criteria and rules are applied for data retention, archiving, and destruction of patient demographic data.</li>
	</ul>

	<p>Data Standards addresses the development and approval of standards for data representation, data access, and data distribution. Data Management Platform advocates stakeholder engagement in and governance approval of decisions that pertain to platform selection and implementation. Data Integration helps the organization design shared data stores and establish standards to improve data consistency and quality. Historical Data, Archiving, and Retention addresses management of historical data, record retention requirements, and data archiving, ensuring that data is available and that regulatory requirements are met.</p> 

	<p>The practices within this category will help an organization implement data stores that minimize redundancies, meet performance requirements, and ensure availability of patient demographic data for all involved stakeholders. Well-developed practices also ensure that the organization’s data stores are supported by comprehensive applicable standards and are deployed on a platform that is flexible and extensible for modifications and future requirements. Defined practices for data integration increase availability of high quality data, and improved processes for capturing and managing historical data and treatment of aged data will help satisfy regulatory requirements and increase system performance.</p>

</div> <!-- end center content -->


{% include right-content.html %}

