$font-family-nav: 'Source Sans Pro', sans-serif;
$font-family-nav-bold: 'Source Sans Pro Bold', sans-serif;

$font-family-body: 'Lato', sans-serif;
$font-family-body-bold: 'Lato Bold', sans-serif;

$font-bold: 700;

$text: #252525;
$text-light: #959595;


$blue-light: #b7d4fa;
$blue: #056db1;
$blue-dark: #07538f;