---
layout: standard-page
title: Metadata Management
group: Data Governance
left-content-nav-order: 5
---


{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">

<h3 id="standards" class="subheading">Metadata Management</h3>

<h4>Purpose</h4>

<p>Establish the processes, standards, and infrastructure for specification of well organized, comprehensive and accessible information about the data assets under management.</p>

<h4>Introductory</h4>

<p>Notes Metadata equates to an organization’s knowledge about its data assets.  It is information about data:  it identifies, describes, links; it provides context, structure, and classification; and it enables effective usage, retrieval, and management of data.  A metadata repository is a compendium of data asset knowledge, typically compiled and enhanced over time in manageable phases.</p>

<p>Metadata empowers the business user. It is structured knowledge about the data assets; therefore, its usefulness depends on accuracy and meaning for all stakeholders. Even the smallest organization benefits from adopting a thoughtful approach to metadata.  For instance, defining and applying prescribed attribute formats, e.g., a 60-character street addresses in initial caps with standard abbreviations (e.g., BLVD, ST), will prevent some patient record matching errors.</p> 

<p>For larger organizations which may have multiple data stores housing patient demographic data, and engage in data integration and data exchange, developing meaningful metadata is critical for tracking and tracing data at rest and in motion (e.g., what was the originating source, what was the data element name in that source, at what point exactly did an error occur, etc.). Capturing accurate and comprehensive metadata directly supports effective efforts to improve data quality.</p>

<p>Metadata is usually classified in three primary categories:</p>

<p><b>Business Metadata</b>: Descriptive information employed to understand, locate, search, and control content.  It can include elements such as terms and definitions (i.e., the Business Glossary), values, authors, keywords, and publishers. Business metadata may also include identification of business domains (e.g., registration, billing), related subject areas (e.g. clinical data), business rules, and data quality rules. Business metadata is the starting point for mapping to related persistent work products such as standards and procedures.</p>

<p><b>Operational Metadata</b>: Descriptive administrative information that assists in managing a data asset.  It includes information such as who created or updated a record, when it was created or updated (i.e., data provenance); information needed for archival or integration, and access rights and entitlement restrictions (e.g., privacy codes). Administrative metadata related to governance, including information about individuals involved in governing the data (e.g. data owner, data steward, data custodian) is included in this category. It may also describe governance bodies (e.g., executive data council) and their authorities, participants, structure, and responsibilities. In addition, operational metadata is employed to surface process improvements to enhance productivity and improve data quality.</p>

<p>Process metadata, a subcategory of operational metadata, addresses process steps for data production and maintenance, as well as for data quality measurement and analysis. Examples include: quality rules and control requirements.</p>

<p><b>Technical Metadata</b>: Descriptive information about data stored in physical databases, as well as its transformations through automated processes. For example, the content (e.g., tables and columns) and location (e.g., server) of data stores and interfaces, changes to data sources.  It can include information about data types (e.g. name, number, etc.) links to related files, database indexes, etc. Technical metadata consists of the following subcategories: 1) “run-time” or dynamic metadata (e.g., configuration or messaging information), and 2) “design-time” or static metadata (e.g., physical data models, data dictionary, and load and transformation scripts).</p>

<p>An organization that develops its patient demographic metadata will realize a number of direct and indirect benefits, as metadata reduces data risks and is essential for:</p>
<ul>
	<li>Improving data quality through common understanding and agreement about names, definitions, values, ranges, and formats;</li>
	<li>Improving the accuracy of patient record matching and identifying duplicates;</li>
	<li>Tracing the origin of data and assessing impacts across the lifecycle;</li>
	<li>Building an accessible knowledge base for stakeholders across the organization;</li>
	<li>Determining when to archive a record; and</li>
	<li>Mapping data from multiple sources for integration and sharing.</li>
</ul>

<p>Metadata should be appropriately governed.  It is recommended that data governance provides oversight for defining and conforming to metadata categories, properties, and updates.  Governance is also engaged in fostering adoption and consistent use across the organization.  The data management function or role is typically responsible for the population and maintenance of the metadata repository.</p>


<div class="featherlight-group">

	{% include_relative questions-help/metadata-management/metadata-management-1-1.html %}

	{% include_relative questions-help/metadata-management/metadata-management-2-1.html %}

	{% include_relative questions-help/metadata-management/metadata-management-2-2.html %}

	{% include_relative questions-help/metadata-management/metadata-management-2-3.html %}

	{% include_relative questions-help/metadata-management/metadata-management-3-1.html %}

</div>




</div> <!-- end center content -->


{% include right-content.html %}