{% assign url_parts = page.url | split: "/" %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | remove: "/" | replace: rm, "" %}


<div class="pure-u-5-24 left-content">


	<h2>{{ page.group }}</h2>

	<ul>
	
	{% assign nav_pages = site.pages | sort: 'left-content-nav-order' %}

	{% for node in nav_pages %}
	
		{% if node.url contains base_url %}
	    	{% assign node_url_parts = node.url | split: '/' %}
	    	{% assign node_url_parts_size = node_url_parts | size %}
	    	{% assign filename = node_url_parts | last %}
	    	{% if url_parts_size == node_url_parts_size and filename != 'index.html' %}

				
	      		<li class="{% if page.title == node.title %}selected{% endif %}"><a href='{{site.baseurl}}{{node.url}}'>{{ node.title }}</a></li>


	    	{% endif %}

	  	{% endif %}

	{% endfor %}
		
		<!-- <li><a href="{{ site.baseurl }}/introduction/background">Background</a></li>
		<li><a href="{{ site.baseurl }}/introduction/about-pddq-framework">About the PDDQ Framework</a></li>
		<li><a href="{{ site.baseurl }}/introduction/audience">Audience</a></li>
		<li><a href="{{ site.baseurl }}/introduction/pddq-framework">PDDQ Framework</a></li>
		<li><a href="{{ site.baseurl }}/introduction/framework-organization">Framework Organization</a></li> -->
	</ul>
</div>