<div class="pure-u-5-24 left-content">

{% assign groups = site.pages %}
{% assign pages = page.group | slugify %}

{% for group in groups %}

	{% if group.slug == pages %}
	
		<h2>{{site.data.worksheet-menu[group.slug].parent}}</h2>

			<ul>
				{% for child in site.data.worksheet-menu[group.slug].children %}

					<li class="{% if page.title == child.name %}selected{% endif %}"><a href="{{site.baseurl}}/{{pages}}/{{child.name | slugify}}">{{ child.name }}</a></li>

				{% endfor %}
			</ul>

	{% endif %}

{% endfor %}

</div>

<!-- <h2>{{ page.group }}</h2>

{% for pages in page.left-nav %}

	<li class="{% if page.title == node.title %}selected{% endif %}"><a href='{{site.baseurl}}/{{page.slug}}/{{pages | slugify}}'>{{ pages }}</a></li>

{% endfor %}

</div>
 -->