<div class="pure-u-5-24 right-content">
	

	{% if page.group != 'Introduction' %}

		{% if site.data.worksheet-menu[page.slug].parent != page.title | slugify %}

		<h3 tabindex="0">Practice Evaluation Questions</h3>

		{% assign q = page.group | slugify %}

			{% for child in site.data.worksheet-menu[q].children %}

				{% if child.name == (page.title | slugify) %}

				

					{% for question in child.evaluation %}

						<div class="tier-block">	

							{% case question.tier %}
							{% when "1" %}
								<h4>Tier {{ question.tier }}: Foundational</h4>
							{% when "2" %}
								<h4>Tier {{ question.tier }}: Building</h4>
							{% when "3" %}
								<h4>Tier {{ question.tier }}: Advanced</span></h4>
							{% endcase %}
						

							{% for item in question.questions %}

								
								<p><span>{{ item.number }}</span> {{ item.content }}<button class="help-icon" data-featherlight="#{{ child.name | slugify }}-{{ item.number | slugify }}" text="open window with more help information"></button></p> 

							

							{% endfor %}

						</div> <!-- end block -->


					{% endfor %}



				{% endif %}

			{% endfor %}

		{% endif %}
		
	{% endif %}

	



	{% include evaluate.html %}
	
</div> <!-- end right content -->