.process-area-block{
	margin-bottom: 5em;
}



legend.process-area-group{
	font-size: 1.5em;
	border-bottom: 1px solid #07538f;
}

.table-worksheet{

	tr{
		text-align: center;
		th{
			color: white;
			background-color: $blue-dark;
		}
	}
	label{
		position: absolute;
		text-indent: -9999px;
	}
}


.table-worksheet td > input.official-score{ 
	margin: .25em auto;
	text-align: right;
}

.table-worksheet td > input.raw-score{ 
	margin: .25em auto;
	text-align: right;
}



.left-content .worksheet-nav-ul{
	margin-top: 0px;
	li{
		padding: 1px 5px 1px 25px;
		font-size: 1em;
	}
}

.left-content .worksheet-nav-group-title{
	margin-bottom: .4em;
	font-size: 1.143em;
}

.score-badge{
    display: inline-block;
    min-width: 20px;
    padding: 4px 7px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: $blue-dark;
    border-radius: 10px;
    float: right;
}

.even{
	background-color: #eee;
}

.pure-table thead{
	border-bottom: 1px solid #cbcbcb;
}

.print-button{
	text-decoration: none;
	border: 1px solid #cbcbcb;
	border-radius: .5em;
	display: block;
	padding: 1em 2em 1em 2em;
	text-align: center;
	background-color: $blue-dark;
	color: white;
	transition: all .3s;
}

.print-button:hover{
	background-color: #b7d4fa;
	color: #000;
	text-decoration: none;
	transition: all .3s;
}