---
layout: standard-page
title: Data Provider Management
group: Data Operations
left-content-nav-order: 0
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">

	<h3 id="" class="subheading">Data Provider Management</h3>

	<h4>Purpose</h4>

	<p>Optimize internal and external data sourcing to meet business requirements, apply quality considerations, and manage data provisioning agreements consistently. </p>

	<h4>Introductory Notes</h4>

	<p>Most organizations acquire data from either external or internal sources. It is frequently found that the performance of sources (e.g., the timeliness and completeness of data provided) does not meet the organization’s expectations.  Similarly, data quality can be sub-optimal for the organization’s needs.  The questions for the organization in this process area address best practices for: defining data sourcing requirements, acquiring and providing data that meets quality expectations, managing agreements, and interacting with providers.</p>

	<p>Effective management of providers helps assure quality data delivery, assists with selecting the service providers for the organization’s needs, and improving the cross-organization match rates for patient identity when data is shared. It is recommended that service level agreements (SLAs) be established by the receiving organization, with both external and internal data providers, specifying what data will be provided, the quality rules it should conform to, and performance thresholds (i.e., minimum expectations for timeliness, completeness, providing updates, etc.). It is also advised to specify in the SLA or contract that the vendor must provide an organization its own patient data at no cost for purposes of analysis. </p>  

	<p>Data sourcing decisions need to reflect the needs of data consumers to ensure that requirements can be satisfied with appropriate data sources, whether internal or external. This process ensures that delivered data will meet business needs. An organization should determine parameters against which alternative sources will be compared and selected.  This will help the organization discover if data elements provided by a source need to be combined (e.g., Patient First Name and Patient Last Name combined into Patient Name in the destination), split (e.g. Patient Name split into Patient First Name and Patient Last Name), or have business rules applied (e.g., new data element Mother Maiden Name) to satisfy business requirements.  Mapping of a data source (i.e., data elements provided by the source, mapped to the destination data store(s)) is enabled by precise business terms and definitions, data profiling analysis results, as appropriate, and clear data requirements.</p> 

	<p>For patient demographic data, the receiving organization should include in the SLA that a data provider should engage in bi-directional communication when patient identity matching cannot be accomplished. The provider should communicate a report that contains the number of matching failures per upload, accompanied by delivery of the records that were involved in the failures. In addition, a data provider should communicate the algorithm(s) that they employ for matching, with an accompanying list of data elements employed.  Mandatory versus optional data elements should be included, as appropriate.</p>  

	<p>Data quality criteria (e.g., thresholds, targets, and quality rules) are integral to data sourcing decisions and should be used to compare sourcing alternatives and develop SLAs with the selected data providers.</p>

	<p>Assessing the quality of sourced data over time should be based upon metrics (e.g., number of records provided with no birth date, etc.) that are established through data quality processes (See the Data Quality category) and performance statistics, such as data error handling, provider responses to requests, and issues escalation.  Data integrity can be enhanced by implementing appropriate controls for authorization and access (See Data Standards).</p> 

	<p>Finally, the organization should regularly monitor delivered data, at a frequency commensurate with its criticality, to ensure that criteria continue to be satisfied. To resolve issues and work with providers to improve data delivery, it is useful to know how providers produce and deliver their data. This knowledge is best acquired and applied prior to connection; it will assist the organization in working with the provider to correct errors, apply additional quality rules as warranted, and thus increase consumer confidence in the data.</p>

	<p>An organization that implements sound provider management processes will realize the following benefits:</p>
	<ul>
		<li>Assurance that the right data is delivered to consumers;</li>
		<li>Improved data quality for delivered data;</li>
		<li>Increased understanding of the data among consumers;</li>
		<li>Increased clarity of agreements on authoritative data sources;</li>
		<li>Reduced lag time in defining new requirements;</li>
		<li>Simplification of the data source selection process; and</li>
		<li>Reduced risk, rework, and duplicative costs</li>
	</ul>

</div> <!-- end center content -->


<div class="pure-u-5-24 right-content">
	
	{% include evaluate.html %}
</div>

