---
layout: standard-page
title: Data Operations
slug: data-operations
group: Data Operations
left-content-nav-order: 15
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">
	
	<p class="page-definition" tabindex="0">Best practices for specifying data requirements, managing implemented data across the entire data lifecycle, and ensuring timely and accurate data from data providers.</p> 

	<p>The Data Operations category contains process areas designed to help an organization:</p>
	<ul>
		<li>Define and specify data requirements;</li>
		<li>Map and trace data through the business processes that produce or consume it;</li>
		<li>Ensure that data changes are tracked and managed;</li>
		<li>Select data sources according to requirements and verify authoritative sources; and</li>
		<li>Include quality requirements for vendor agreements.</li>
	</ul>

	<p><em>Data Requirements Definition</em> addresses practices that ensure specifications for data: satisfy business objectives, are validated by stakeholders, are prioritized, and are documented through a repeatable process. <em>Data Lifecycle Management</em> assists an organization to ensure that data creation, movement, and updates are mapped to business processes and data stores across all lifecycle phases. <em>Data Provider Management</em> contains best practices for selection of data sources, contractual and service level agreement controls, and systematic interactions with internal and external providers to improve service and quality.</p>

	<p>The practices in this category will:</p>

	<ul>
		<li>increase staff’s knowledge about the data assets;</li>
		<li>allow business process performers to identify the best data sources to meet their needs;</li>
		<li>enable both data suppliers and consumers to map data dependencies;</li>
		<li>allow stakeholders to determine the impact of changes;</li>
		<li>support organized data integration; and</li>
		<li>design or acquire more accurate and efficient systems and data stores.</li>
	</ul>

</div> <!-- end center content -->


{% include right-content.html %}


	

