---
layout: standard-page
title: About the PDDQ Framework
group: Introduction
left-content-nav-order: 2
---


	{% include left-content-nav.html %}

	<div class="pure-u-14-24 center-content">

		<h3 id="about" class="subheading">About the PDDQ Framework</h3>
		<p>The PDDQ Framework allows organizations to evaluate themselves against key questions designed to foster collaborative discussion and consensus among all involved stakeholders. Its content reflects the typical path that most organizations follow when building proactive, defined processes to influence positive behavioral changes in the management of patient demographic data.</p>

		<p>The PDDQ Framework enables organizations to quickly assess the current state of data management practices, discover gaps, and formulate actionable plans and initiatives to improve management of the organization’s data assets across functional, departmental, and geographic boundaries. The PDDQ Framework is designed to serve as both a proven yardstick against which progress can be measured as well as an accelerator for an organization-wide approach to improving data quality. If posed to key stakeholders, producers, and consumers of patient demographic data, its 76 key questions will stimulate knowledge sharing, surface issues, and provide an outline of what the organization should be doing next to more effectively manage this critical data.</p>

		<p>The PDDQ Framework is derived from the Data Management Maturity (DMM)SM Model, created by the CMMI Institute as a comprehensive reference model of fundamental data management practices. The DMM defines the business processes and specific practices that increasingly lead to greater capabilities and maturity. It contains six categories, 25 process areas, 414 functional practices, and 596 work products. Results from evaluations employing the PDDQ Framework, focused on critical patient demographic data, are intended to align with those that would be produced from employing the full DMM.</p>

		<p>The PDDQ Framework addresses practical, proven activities needed to achieve and sustain effective management of an organization’s patient demographic data. It incorporates best practices designed to help the organization establish, build, sustain and optimize effective data management across the patient demographic data lifecycle, from initial creation through updating, delivery, use, and archiving or destruction. It also helps to increase an organization’s appreciation for the criticality of its data assets by engaging staff in increasing capabilities and adopting disciplined practices.</p>

		<p>The PDDQ Framework advocates organization-wide alignment on the following key factors:</p>
		<ul>
		  	<li>Implementing governance functions;</li>
		  	<li>Planning data quality;</li>
		  	<li>Implementing quality improvements and assurance;</li>
		  	<li>Managing operational components;</li>
		  	<li>Defining and mapping data dependencies;</li>
		  	<li>Supporting access to shared data interoperability; and</li>
		  	<li>Ensuring that data is understood and trusted across the organization.</li>
		</ul>

		<p>While the PDDQ Framework addresses and advocates requirements and activities for effective data management, it does not prescribe how an organization should achieve these capabilities. It can be used by organizations both to assess their current state of capabilities and build a customized roadmap for data management implementation.</p>



	</div> <!-- end center content -->


{% include right-content.html %}


	

