---
layout: standard-page
title: Audience
group: Introduction
left-content-nav-order: 3
---


	{% include left-content-nav.html %}

	<div class="pure-u-14-24 center-content">
		
		<h3 id="audience" class="subheading" tabindex="0">Audience</h3>
		<p></p>The expected audience for the PDDQ Framework includes all health care organizations interested in evaluating and improving patient demographic data management by adopting a coordinated, organization-wide approach to achieve accurate, trusted data and reduce record duplication rates.</p> 

		<p>Assessing data management capabilities is a strategic initiative which can yield significant benefits over time. Evaluating current practices against the PDDQ Framework reveals numerous actionable, tactical initiatives that can be accomplished by leveraging existing strengths and making practical, sensible modifications to existing processes. The PDDQ Framework may be applied as a whole or in part, depending on the priorities of the organization. The framework’s embedded outline of successive improvement steps guides implementers in their work to establish and roll out activities needed to achieve and benefit from effective data management practices.</p>


	</div> <!-- end center content -->


	{% include right-content.html %}


	

