---
layout: standard-page
title: Background
group: Introduction
left-content-nav-order: 1
---


	{% include left-content-nav.html %}

	<div class="pure-u-14-24 center-content">
		<h3 id="background" class="subheading" tabindex="0">Background</h3>
		<p>Accurately and consistently matching patient data both within and across organizations is pivotal to ensuring safe and effective care to patients. When patient data is not accurately matched, treatment and diagnosis decisions are made in the absence of valuable information, and patients could be subject to adverse events and significant harm. To facilitate the best possible treatment and care coordination among a care team, exchanging and linking patient data from across the care continuum is critical.</p>

		<p>In the absence of a nationwide, voluntary unique identifier, patient demographic data is the primary key used for matching patient records.  Unfortunately, patient demographic data has historically been of poor data quality, resulting in both inaccurate matching of patient records and low match rates, particularly when data is exchanged across organizations. Over the last few years, the industry has considered a number of solutions to help address the problem, including:</p>
		<ul>
		 	<li>Capturing critical identity attributes to ensure patient identity integrity in any context;</li>
		 	<li>Adding data elements to the core set of name, address, and data of birth;</li>
		 	<li>Standardizing terms, definitions, values, formats, and lengths for demographic attributes across the industry;</li>
		 	<li>Employing matching algorithms that will identify candidate matching records that will compensate for the lack of standards in existing data stores;</li>
		 	<li>Standardizing best practices for patient registration to ensure quality data is present from the point of entry; and</li>
		</ul>

		<p>Defining and adopting standards for data, and implementing sound data management processes requires increased awareness, effective collaboration, and a cultural evolution towards shared responsibility, both within and across health care organizations. To support these goals, the Office of the National Coordinator for Health Information Technology (ONC) worked with the <a title="Link to cmmiinstitute.com" href="http://cmmiinstitute.com/data-management-maturity" rel="noopener noreferrer" target="_blank">CMMI Institute</a> to develop the Patient Demographic Data Quality (PDDQ) Framework. The goal of the PDDQ Framework is to help organizations ensure that formulation, agreements, approvals, and implementation of adopted standards and processes will be effective and sustainable and support the minimization of the number of duplicate records across the industry, ultimately improving patient safety.</p>

	</div> <!-- end center content -->


	{% include right-content.html %}


	
