---
layout: standard-page
title: Glossary of Terms
group: Introduction
left-content-nav-order: 7
---


{% include left-content-nav.html %}

<div class="pure-u-14-24 center-content">

	<h3 id="scoring" class="subheading" tabindex="0">Glossary of Terms</h3>

<p><strong>Assessment:</strong> A determination of the strengths and weaknesses of an organization through the evaluation of their processes and results against a standard model framework. Synonym – appraisal.</p> 

<p><strong>Attributes:</strong> A fact, property, or characteristic of an entity. In a physical form, referred to as a ‘column,’ a ‘data element, or a ‘field’. Examples: Customer Name, Gender Code.</p>

<p><strong>Authoritative source:</strong> <strong></strong>An official source of information, which may include, but is not restricted to, a trusted source or a ‘system of record’. ‘Authoritative source’ may refer to the source that creates the data or the “best source” for a specific data set, depending on context.</p>

<p><strong>Business unit:</strong> An organizational unit, typically under the management of a single leader, that is responsible for the management of products and services. It typically measures performance in terms of profit and loss, and utilizes shared services such as finance, accounting, operations, IT, and human resources.</p>

<p><strong>Business rules:</strong> a) Define or constrain some aspect of the business to implement a strategy or ensure operational consistency. For example: “A loan cannot be approved unless 30-day seasoned down payment funds are verified.” b) A testable rule expressed in business English, specifying logic for automated execution, typically captured in a requirements document.</p> 

<p><strong>Core attributes:</strong> Attributes that highly impact one or more business process of the organization. The term can be used to refer to shared data, such as master and reference data, or to a purpose-focused data set, such as attributes with regulatory import that may be from multiple data sources. Synonym – core data.</p>

<p><strong>Critical attributes:</strong> Attributes that highly impact the performance of important business processes, or are needed for a specific business purpose; for example, patient demographic attributes required for record matching and deduplication.</p> 

<p><strong>Data attributes:</strong> Attributes are properties of an entity type. The DMM states that they should be based on approved business terms from the Business Glossary. Attribute names follow the conventions set out in the organization’s data standards, and business terms are modified as needed to conform to standards. Example: A business term “Date of Birth” may have an attribute name of “Birth Date.”</p> 

<p><strong>Data cleansing:</strong> The mechanisms, processes, methods, and processes employed to validate or correct data with respect to predefined business rules, allowed values, ranges, etc.</p>

<p><strong>Data cleansing tool:</strong> A software product used to remediate errors and anomalies in one or more data stores.</p>

<p><strong>Data cleansing rules:</strong> Business rules and quality rules applied in defined process steps against a data set to remediate defects.</p> 

<p><strong>Data governance:</strong> Implements structures and establishes policies aimed to help achieve strong participation across the organization for critical decisions affecting the data assets. Data governance structures are groups that are comprised of data management stakeholders, whose function is to ensure the data management program is held accountable to organization-wide needs and is oriented toward the fulfillment of business and data management objectives. Governance groups may include standing bodies with sustained responsibilities, such as establishing policies and monitoring compliance. They can also be convened for specific purposes, such as approving enterprise requirements for a master data hub. A group need not have a formal designation of “data governance” to be considered functionally valid for assessment purposes.</p>

<p><strong>Data integration:</strong> Transporting and processing (selecting, connecting, combining, de-duplicating, transforming representations, etc.) data from multiple sources into a destination environment.</p>

<p><strong>Data layer:</strong> The collection of implemented data stores and interfaces that store and deliver data for applications and business users. Includes operational system data stores, batch interfaces, point-to-point interfaces, data services, data repositories, and the enterprise data warehouse environment.</p>

<p><strong>Data lifecycle:</strong> The linked chain of critical processes to create, read, update, and delete (CRUD) data through the extent of its useful life in the business and eventual archiving or destruction.</p> 

<p><strong>Data lineage:</strong> Traceability of data attributes according to their process dependencies from origination through to storage, consumption, and reporting.</p> 

<p><strong>Data management compliance:</strong> Processes established and enforced to validate conformance with existing policies and standards.</p>

<p><strong>Data management objectives:</strong> Planned outcomes that are used to measure progress against the achievement of data management goals.</p> 

<p><strong>Data management standards:</strong> The collective set of standards that supports all of the organization’s data management disciplines, developed and used to prescribe consistent approaches to data management. Examples: business term standards, data profiling standards, metadata standards, data integration standards.</p>

<p><strong>Data management professionals:</strong> People who perform data management processes and practices, which correspond to the Data Management Function process area. Synonym – data management practitioners.</p>

<p><strong>Data quality dimensions:</strong> The language of data quality facilitates a shared understanding that is essential for ensuring business requirements are met by establishing quality criteria, measuring defects, and communicating within and across organizations priorities, measurement scores, thresholds, and targets. Dimensions typically include the following: accuracy, completeness, validity, timeliness, integrity, consistency, conformity, and uniqueness.</p> 

<p><strong>Data quality framework:</strong> The selected principles, paradigm, or model within which a data quality strategy and implementation will be executed. Typically involves four phases of activity for the selected data sets or data stores: identify; remediate; prevent; and monitor systematically for continuous improvement.</p> 

<p><strong>Data quality plan:</strong> An organization’s plan for improving and sustaining data quality. It typically includes goals, objectives, benefits, business cases, policies, compliance, governance, and implementation priorities.</p>

<p><strong>Data requirements:</strong> Definition of the data needed to achieve business objectives. Data requirements should be stated in business language and should reuse any approved, available standard business terms from the organization’s approved business glossary.</p> 

<p><strong>Data Owner:</strong>  A line of business (LOB) individual responsible for one or more data assets.  The data owner is typically responsible for:  determining what data needs to be captured and stored; maintaining and ensuring quality of data sets; controlling and granting access to data sets; approving business terms and definitions; contributing to and approving quality rules, etc.</p>

<p><strong>Data steward:</strong> A line of business individual who accepts responsibility for specific business terms, attributes, and data elements on behalf of the organization. The data steward is responsible for ensuring that the meaning, usage, and representations of the data set are according to business purpose and conform to the organization’s standards. Other responsibilities may include:  raising and resolving data issues across business lines; developing data quality rules; input into data access controls and security classifications; collaborating in data compliance efforts, etc.  A data stewards group is typically one of the organization’s data governance bodies, with representation from multiple lines of business.</p>

<p><strong>Defined:</strong> A defined process is designed according to a precise template and instantiated as one or more documents.</p>

<p><strong>Entity:</strong> A person, place, thing, concept, or event of interest to the organization, about which information is kept. Examples: Patient, Annual Conference. In data modeling terminology, the term Entity Type (e.g., “Patient”) refers to the data object; and an Entity is an instance of that object (e.g. Joe Smith, Mary Black).</p>

<p><strong>ETL:</strong> Extract, transform, load. The process by which data are obtained from one or more sources, transformed into the destination data representations, and loaded into a data store. Business rules (logic) are applied for data selection and data transformations. Typically accomplished employing an ETL software product.</p> 

<p><strong>Implementation plan:</strong> A detailed work breakdown structure (WBS), addressing interdependencies, resources, beginning and end dates, assigned resources, etc., which guides the implementation of a data management initiative.</p>

<p><strong>KPI:</strong> Key performance indicator. Measures and metrics that are used to identify the level of achievement of objectives or results identified by the organization as very important.</p>

<p><strong>Master data management:</strong> Management and centralization of high shared data about the core entity types of an organization, which provides essential identification and reference for business transactions across multiple business areas.</p>

<p><strong>Measure:</strong> A measure is a count that is collected, and presents a quantified result that is used for reporting and monitoring. Measures may be tracked and intended to create a baseline. Examples of measures include number of defects, transaction counts, number of lines of code, number of duplicates.</p> 

<p><strong>Metric:</strong> Metrics specify the quantification of business meaning. Specifically, a metric defines the calculation method (+, -, *, /, %, etc.) and unit of measure(s), as well the meaning and context of the specified measurements.</p> 

<p><strong>Process performance:</strong> The measurement of effectiveness within the activity steps of a specified business process. May address durations, lag time, dependencies, etc.</p>

<p><strong>Owner:</strong> The responsible party for a business data asset, typically the line of business individual who is in charge of a business process or application data store. Owners are also referred to at the subject area level, as the organization moves toward centralization of shared data assets.</p>

<p><strong>Periodic, periodically:</strong> Held or executed at planned intervals.</p>

<p><strong>Policy:</strong> A guiding principle typically established by senior management that is adopted by an organization and enforced, to influence and determine decisions.</p>

<p><strong>Procedure:</strong> A procedure is an action or set of actions that is performed in a prescribed manner, describing HOW a process activity step is accomplished. When decomposing processes, the procedure(s) are defined at the lowest level of detail for standardizing operational execution. </p>

<p><strong>Process:</strong> A structured set of activity steps performed to accomplish a result. A process describes WHAT is done. When documented, typically addresses triggering event; inputs; controls; mechanisms; outputs; and roles. </p>

<p><strong>Process model formats:</strong> Approaches to modeling business processes and process usage of data, such as data flow diagrams, process models with swim lanes, following a method such as IDEF 1 and 3, BPMM, UML, etc.</p>

<p><strong>Promulgation:</strong> The act of formally proclaiming or declaring a new statutory or administrative policy after its enactment. This term is used to emphasize the importance of communication and verifiable instantiation.</p>

<p><strong>Resiliency:</strong> A resilient architecture presents a framework or principles for implementation that can be used as a guide to establishing a high level of system robustness and fault tolerance and recovery from abnormal usages or disruptions. Resiliency, scalability, maintainability, and extensibility are aspects of architectural, application, and data store design, and are applied to architectural decisions, technology selection, and technical requirements. </p>

<p><strong>Responsibility matrix:</strong> An inventory of assets (documents, systems, etc.) aligned with the people who are responsible for them. The abbreviation RACI is typically used, referring to Responsible, Accountable, Consulted, and Informed roles. RACI is also often applied to process, project, and governance responsibilities. </p>

<p><strong>Root cause analysis:</strong> The determination of the source of defects within an interdependent linkage of processes.</p>

<p><strong>Semantic repository:</strong> Stored content pertaining to the meaning of the concepts represented by the data. The semantic repository concept is addressed in the process areas Business Glossary and Metadata Management.</p>

<p><strong>Sequence plan:</strong> A translation of a strategy or roadmap into a mid-level time-line, which includes a high-level work breakdown structure (WBS), key interdependencies, and important milestone dates. </p>

<p><strong>Service level agreement (SLA):</strong> Specifies delivered services; service measures; levels of acceptable and unacceptable service; and expected responsibilities, liabilities, and actions of both the provider and customer in anticipated situations.</p>

<p><strong>Stakeholder:</strong> An individual or organization that is affected by a decision about architecture, technology, an application, a data store, or a data set. Each data management initiative typically has a corresponding stakeholder group.</p>

<p><strong>Standard process:</strong> A standard process describes the fundamental process elements that are expected to be incorporated into any defined process. It also describes relationships (e.g., ordering, interfaces) among these process elements.</p>

<p><strong>System development life cycle (SDLC):</strong> A series of phases and activity steps that provides a framework for the requirements, design, development, and maintenance of application software and databases. Methods, required steps, and supporting processes and documentation can vary with the organization. Two of the most common SDLC frameworks utilized are Waterfall and Agile.</p>

<p><strong>System of record:</strong> An information system that acts as the authoritative repository accountable for active management (create, update, and delete) of a specific set of data at one or more specified stages in its lifecycle.</p>

<p><strong>Templates:</strong> Predefined forms of documents that guide the topics addressed when a specific instantiation is created.</p>

<p><strong>Trusted source:</strong> Any source that delivers data that users can trust with confidence to meet their objectives, ideally without need for reconciliation or remediation. An example is a system of record or an authoritative data source.</p>

<p><strong>Validation:</strong> Assurance that a product, service, process, or system meets the needs of the customer and stakeholders.</p>

</div> <!-- end center content -->


{% include right-content.html %}