---
layout: standard-page
title: PDDQ Framework
group: Introduction
left-content-nav-order: 4
---


	{% include left-content-nav.html %}

	<div class="pure-u-14-24 center-content">

		<h3 id="pddq-framework" class="subheading">PDDQ Framework</h3>
		<p>The PDDQ Framework is comprised of five primary categories, illustrated in Figure 1.  Each category contains a number of process areas, 19 in all, illustrated in Figure 2.</p>

		<p><strong>Figure 1: Patient Demographic Data Quality Framework Category Relationship</strong></p>

		<p><strong>Figure 2: Patient Demographic Data Quality Framework Process Area Organization</strong></p>

		<p>Process areas serve as the principal mechanisms to communicate the themes, context, benefits, and example work products of the model, focused around the key evaluation questions contained within each section. Fulfilling practices assists an organization to chart its path and progress in building capabilities.</p> 

		<p>The PDDQ Framework is structured such that an organization can implement any combination of categories or process areas and obtain baseline conclusions about their capabilities. The organization can focus on a single process area, a set of process areas, a category, a set of categories, or any combination up to and including the entire PDDQ Framework. This allows application to meet specific needs.</p>

	</div> <!-- end center content -->


	{% include right-content.html %}


	
