---
layout: standard-page
title: Data Cleansing and Improvement
group: Data Quality
left-content-nav-order: 4
---

{% include left-content-nav.html %}



<div class="pure-u-14-24 center-content">

	<h3 id="data-cleansing-and-improvement" class="subheading">Data Cleansing and Improvement</h3>
	
	<h4>Purpose</h4>

	<p>Business glossary practices ensure collaborative agreements on business terms and definitions, creating common understanding about patient demographic data that supports business processes for all relevant stakeholders.</p>

	<h4>Introductory Notes</h4>

	<p>A business glossary is a compendium of business terms and definitions, which have been approved by stakeholders and are maintained and governed. The language representing the data should be aligned with the language of the business.</p>

	<p>Consistent terms and definitions, with corresponding metadata, are essential to managing patient demographic data across its lifecycle in the context of meaning. Agreement about term names and definitions is essential to ensure that all stakeholders who supply or consume the data understand it the same way without ambiguity. If common understanding of terms for shared data is lacking, business processes are negatively affected.</p>

	<p>The business glossary represents agreement among key stakeholders on the language and associated meaning pertaining to patient data needed to support quality care, efficient payments, and patient safety. If business terminology is not uniquely named and defined, confusion and inefficiencies may cause issues.</p>

	<p>The benefits of building and maintaining a glossary of standard patient demographic business terms include:</p>

	<ul>
		<li>Increased understanding and communication among business units and stakeholders;</li>
		<li>Improved foundation for developing data requirements for new data stores;</li>
		<li>Improved accuracy and clarity of reports;</li>
		<li>Improved agility for effective sharing and integration of patient data;</li>
		<li>Enabled tracing of data lineage from receipt or acquisition through its movement across business processes and data stores;</li>
		<li>Enhanced agility in exchanging data with external suppliers or consumers; and</li>
		<li>Increased collaborative effort and positive achievement for governance participants.</li>
	</ul>

	<p>Standardizing business terms is the starting point for standardizing metadata (formats, values, ranges, lengths) and any physical specifications that are required to optimize patient identification and matching. Building knowledge (metadata) about patient demographic data is the baseline for making decisions about modifying or adding to the set of core demographic data elements. Standard business terms should be easily accessible to all stakeholders.</p>

	<p>Business terms relevant to patient demographic data may be: adopted from a glossary included with vendor services or software, adopted (or adapted) from an existing set of industry standard terms, or created by the organization itself. What is important is that the organization creates, approves, and updates consistent business terms and definitions, fostering a shared understanding and usage across the data lifecycle. Each term in the glossary should refer to an atomic concept without ambiguity or duplication.</p>

	<p>Business terms can be challenging to define, reconcile, approve, and maintain. Usage of terms within a single business unit may support its needs, but vary from the usage in other groups. In addition, terms may have connotative meanings that must be explored, harmonized, and decided upon through collaborative agreements.</p>

	<p>In many organizations, development of data stores takes place in the context of an information systems project, and without applying consistent business terms, there is a risk of creating new names and alternate definitions that may complicate future data integration and incur rework. Standard business terms are the underpinning for trend and predictive analyses, semantic modeling, taxonomies, and ontologies.</p>

	<p>An organization is advised to create a defined process by which business terms and their corresponding definitions are created, approved, updated, maintained, and governed. Standards for business terms, including naming conventions, abbreviations, standard definitions, and standard metadata (for example, date created, data owner, etc.) should accompany the process.</p>


	<div class="featherlight-group">

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-1-1.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-2-1.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-2-2.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-2-3.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-2-4.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-3-1.html %}


	</div>


</div> <!-- end center content -->


{% include right-content.html %}

