---
layout: standard-page
title: Data Quality Planning
group: Data Quality
left-content-nav-order: 1
---

{% include left-content-nav.html %}



<div class="pure-u-14-24 center-content">
	<h3 id="data-quality-planning" class="subheading">Data Quality Planning</h3>

	<h4>Purpose</h4>

	<p>Establish the ownership, stewardship, and operational structures needed to ensure that data is managed as a critical asset and implemented in an effective and sustainable manner.</p>

	<h4>Introductory Notes</h4>

	<p>Governance focuses on implementing processes that facilitate collaborative agreements, decision making, and approvals.  This leads to effectively implementing building, sustaining, and compliance functions for the data assets, as described below:</p>

	<ul>
		<li><strong>Building</strong> - governance bodies with stakeholder representation need to be actively engaged in making consensus decisions about important aspects of patient demographic data and involved in efforts to improve it, such as contributing terms or definitions to the business glossary (e.g., clarifying use of a term for their business activities), providing metadata (e.g., identifying a data owner for Patient Street Address), approving standards (e.g., Patient Last Name must not exceed 60 characters), and defining quality rules (e.g., Patient Middle Name must not contain an initial).</li>
		<li><strong>Sustaining</strong> - governance participants need to remain engaged over time, as new processes are added (e.g., a data quality assessment process), as new data requirements are considered, as business terms are added, and as metadata and standards are modified.  In addition, governance needs to exercise control over data management functions, such as reviewing and approving a process for requesting data access, etc.</li>
		<li><strong>Compliance</strong> - governance should have the authority to determine effective compliance processes, such as thorough reviews, audits, quality assurance, etc., to ensure that: approved standards are being followed; approved processes are implemented; approved metadata is being captured; and that the right stakeholders are involved in decisions that affect them.</li>
	</ul>

	<p>Strengthening capabilities with these practices creates a corporate culture of shared engagement and responsibility for patient demographic data that is created and managed.  The business owns the data it creates and manages; therefore, lasting improvements cannot be realized without significant engagement with the business.</p>

	<p>The data governance structure that is selected should correlate with the organizational hierarchy and its primary business processes. Key functions for data governance usually include the following actions:</p>

	<ul>
		<li>Approve data management plans, policies, processes, and standards;</li>
		<li>Assign accountability and responsibility for owners, stewards, and custodians (physical data stores);</li>
		<li>Develop decision rights and change processes;</li>
		<li>Address regulatory and other external requirements; and</li>
		<li>Enforce compliance.</li>
	</ul>

	<p>Most organizations implement governance at more than one level, both permanent governance bodies and those that are convened for launching new initiatives, for example:</p>

	<ul>
		<li>An executive governance body may be charged with oversight for ensuring that business, technology, and operations are communicating and following defined processes to manage and improve the patient demographic data, determining priorities, approving technology selection decisions, etc.</li>
		<li>A committee of data stewards, representatives with delegated responsibility for making decisions about shared data as it impacts their business processes, may be created to participate in collective decisions, reviews, and approvals for processes, standards, and compliance mechanisms, etc.</li>
		<li>Temporary data working groups may be formed from the data steward group and other delegated staff for specific purposes, for example to develop metrics and milestones for data quality improvements.</li>
		<li>Tactical work groups, permanent or temporary may be created at the behest of permanent governance bodies to achieve specific objectives, such as: to assure the quality of critical data attributes; to analyze business process for modifications that will improve data quality; and to resolve specific business challenges with patient data.</li>
	</ul>

	<p>The data governance function may begin by focusing on a small set of activities and processes, but it typically expands over time to include additional tasks and responsibilities. For example, implementing a Master Patient Index is an effort that would engage numerous business representatives across the patient demographic data lifecycle.</p>

	<p>Key factors for successful implementation of data governance include the following:</p>

	<ul>
		<li>An approved governance charter(s);</li>
		<li>Executive oversight, governance policies, goals, and objectives;</li>
		<li>Clearly defined roles and responsibilities; and</li>
		<li>Well-designed supporting processes, such as issues escalation.</li>
	</ul>

	<p>When governance for patient demographic data is implemented successfully and sustained over time, the organization can realize the following benefits:</p>

	<ul>
		<li>Increased awareness and shared responsibility for data standards and quality on the part of all stakeholders;</li>
		<li>Increased efficiency of arriving at informed decisions about patient data;</li>
		<li>Increased assurance that all business needs have been factored into decisions;</li>
		<li>Strengthened compliance for policies, processes, and standards; and </li>
		<li>Increased teamwork and likelihood of success for group efforts (e.g., business glossary, data standards, etc.).</li>
	</ul>

<div class="featherlight-group">

	{% include_relative questions-help/data-quality-planning/data-quality-planning-1-1.html %}

	{% include_relative questions-help/data-quality-planning/data-quality-planning-1-2.html %}

	{% include_relative questions-help/data-quality-planning/data-quality-planning-2-1.html %}

	{% include_relative questions-help/data-quality-planning/data-quality-planning-2-2.html %}

	{% include_relative questions-help/data-quality-planning/data-quality-planning-3-1.html %}


</div>




</div> <!-- end center content -->


{% include right-content.html %}

