---
layout: standard-page
title: Data Cleansing and Improvement
group: Data Quality
left-content-nav-order: 4
---

{% include left-content-nav.html %}



<div class="pure-u-14-24 center-content">

	<h3 id="data-cleansing-and-improvement" class="subheading" tabindex="0">Data Cleansing and Improvement</h3>
	
	<h4>Purpose</h4>

	<p>Addresses the mechanisms, processes, and methods used to validate and correct data defects according to predefined quality rules, as well as analysis and enhancement of business processes to prevent errors.</p>

	<h4>Introductory Notes</h4>

	<p>Data cleansing focuses on data correction to meet business user criteria (targets and thresholds) as determined by data quality rules addressing all applicable quality dimensions. Quality rules, developed through the data quality assessment process and the results of data profiling efforts, provide a baseline for identifying data defects which can affect business operations.</p>

	<p>An example of enhancing a business process to improve patient demographic data quality might be, for example: once a patient has produced identification, if there is an existing record in the system, providing the patient a subset of the demographic information for validation. Adding this activity step would help prevent potential duplications.</p>

	<p>Data cleansing activities are most effective when conducted at, or as close as possible to, the point of first capture, i.e. the first automated data store to record the patient’s data, or as close to the original creation point as feasible. A best practice is to undertake cleansing activites based on data profiling or data quality assessment analysis. The organization should develop a standard data cleansing plan template to ensure that cleansing rules for data are shared and reused for any data store in which patient demographic data is located. This will help to minimize duplication of effort and conflicting cleansing activities, e.g. cleaning the same data in two physical locations but applying different rules.</p>

	<p>Organizations need to establish criteria for what events trigger data cleansing efforts. In most organizations, data cleansing is more frequently conducted on key shared data stores, such as a master patient index or the patient registration or scheduling system. However, it is advisable to expand the scope to operational systems which provide data to other internal or external consumers, subject to criticality and budget. As with data profiling efforts, it is recommended that data cleansing criteria are subject to impact analysis.</p> 

	<p>Once accomplished, data corrections should be published and immediately made available for affected downstream data stores and repositories. It is advised to develop and document a consistent process for escalating issues approporiately to governance, the quality coordinator, or the vendor if applicable. Data changes should be verified with internal and external data providers, preferably through an automated message or report. If this capability does not exist, then a manual report should be produced, and provided both to the designated data quality resource and any corresponding internal or external stakeholders.</p>

	<p>The benefits of implementing standard data cleansing and improvement processes include:</p>

	<ul>
		<li>Realized savings in both effort and cost;</li>
		<li>Errors traced to root causes to prevent downstream errors;</li>
		<li>Increased resource allocation efficiency through cumulative experience;</li>
		<li>Improved and sustainable data quality through discovery of quality rules; and</li>
		<li>Improved effectiveness of business processes to minimize errors.</li>
	</ul>


	<div class="featherlight-group">

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-1-1.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-2-1.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-2-2.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-2-3.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-2-4.html %}

		{% include_relative questions-help/data-cleansing-and-improvement/data-cleansing-and-improvement-3-1.html %}


	</div>


</div> <!-- end center content -->


{% include right-content.html %}

