---
layout: standard-page
title: Data Quality Planning
group: Data Quality
left-content-nav-order: 1
---

{% include left-content-nav.html %}



<div class="pure-u-14-24 center-content">
	<h3 id="data-quality-planning" class="subheading" tabindex="0">Data Quality Planning</h3>

	<h4>Purpose</h4>

	<p>Defines an integrated plan to improve and maintain the level of data quality needed to accomplish business goals and objectives.</p>

	<h4>Introductory Notes</h4>

	<p>Data quality planning is the process of defining the business goals, objectives, specfic initiatives, and sustained activities to improve data integrity, accuracy, and trustworthiness. The data quality plan, providing an approved organization-wide approach, becomes a unifying force to foster shared responsibility for quality. </p>

	<p>Organizations typically approach data quality improvement project by project, data store by data store.  However, without an overall organization-wide focus on the business criticality of high quality data, positive results are frequently isolated in disconnected pockets.  If processes, methods, and procedures are developed independently for each effort, the organization risks:  lack of awareness on the part of business staff about quality needs across the data lifecycle; undue effort and duplicate costs; and uncoordinated inefficient implementations (for example, repeatedly cleansing data in a downstream data store while not improving data quality at the source).</p>

	<p>The data quality plan has a simple purpose – support focused, strategic thinking.  By engaging in organization-wide collaborative considerations of basic questions, issues and objectives will be surfaced and agreement can be forged. The organization should engage stakeholders from all relevant business areas to pose these questions about patient demographic data: </p>

	<ul>
		<li>What are our biggest quality issues in each data store containing patient demographic data?</li>
		<li>What goals and objectives will we achieve if quality is improved?</li>
		<li>What are the impacts of poor data quality, e.g., cost, risk, compliance, productivity?</li>
		<li>How will we monitor and sustain our activies to ensure that we meet our goals?</li>
		<li>How will we prioritize our efforts? And how will we decide where to direct our time and effort, such as cleaning up duplicates, working with vendors to improve capabilities, and training patient registration staff?</li>
		<li>What is the proposed sequence to accomplish our objectives?</li>
		<li>How should the organization engage to review objectives, direct resources, and address business process and technical issues?</li>
		<li>Who should be involved, who will lead and coordinate improvement efforts, and how will we structure their engagement?</li>
		<li>How will data quality improvements be measured, analyzed, and reported on over time?</li>
	</ul>

	<p>In a large organization, this planning effort may extend over a few weeks.  In a small organization, it may be completed in a few brief meetings.  Once the approach and corresponding specific initiatives are approved (See Data Governance) the data quality plan can be finalized.  It should address:</p>

	<ul>
		<li>Quality goals and objectives (e.g, specific objectives such as minimizing duplicates to under 4% in year one, 3% in year two, etc.); </li>
		<li>Quality principles (e.g., capture and update patient demographic data in an accurate and timely manner);</li>
		<li>Major issues that the plan commits the organization to address (e.g., commitment to reduce patient safety events due to misidentification by 50% in year one);</li>
		<li>Anticipated benefits (e.g., what improved outcomes are expected);</li>
		<li>Responsibilities and accountability – (e.g., what roles are needed to encourage coordination across departments, and how engagement should be evaluated and modified as needed, etc.);</li>
		<li>Toolsets – (e.g., the scope of the issues justifies selecting and implementing an in-house data quality tool, or the organization may choose to request vendor services, etc.);</li>
		<li>Sequence plan of initiatives – (e.g., the first initiative will be a data profiling pilot project; the next iniative will be training for all staff; next will be establishing a data quality assessment process with business representatives, etc.);</li>
		<li>Training – the organization should plan to conduct training for every individual who enters, updates, or modifies data (e.g., during a record merge).</li>
	</ul>

	<p>Although technologies, methods, and specific techniques can be required, in the end high quality data is the result of continued attention by all relevant stakeholders, communicated and shared across the organization. Creating and following the data quality plan is a positive cultural shift, demonstrating the organization’s executive commitment, and an intention to educate, engage, and sustain effective and direct attention focused on patient demographic data. It is essential to conduct training for everyone who enters, updates, or modifies data (e.g., during a records merge).  Training topics should include: process workflow, current system capabilities, privacy and security/HIPAA, and how feedback should be submitted for suggested improvements.</p>

	<p>The data quality plan establishes and is implemented by the key quality processes.  (<em>See Data Profiling, Data Quality Assessment, and Data Cleansing and Improvement.</em>)  Following the data quality plan will assist the organization to realize these benefits:</p>

	<ul>
		<li>Clear, approved path to improved business operations engendering stakeholder involvement and providing confidence that data quality issues will be addressed and prevented in the future;</li>
		<li>Transformed ad hoc efforts to planned quality progress, saving effort and costs;</li>
		<li>Organization-wide approach facilitating funding requests for projects and resources;</li>
		<li>Defined responsibilities parsing out clear roles, from the boardroom to the database administrator;</li>
		<li>Approved prioritization, consensus, and enhanced awareness among business staff, creating a ‘quality culture’; and</li>
		<li>Reusability of approaches, methods, toolsets, techniques, and procedures.</li>
	</ul>


<div class="featherlight-group">

	{% include_relative questions-help/data-quality-planning/data-quality-planning-1-1.html %}

	{% include_relative questions-help/data-quality-planning/data-quality-planning-1-2.html %}

	{% include_relative questions-help/data-quality-planning/data-quality-planning-2-1.html %}

	{% include_relative questions-help/data-quality-planning/data-quality-planning-2-2.html %}

	{% include_relative questions-help/data-quality-planning/data-quality-planning-3-1.html %}


</div>




</div> <!-- end center content -->


{% include right-content.html %}

