---
layout: standard-page
title: Data Quality
slug: data-quality
group: Data Quality
left-content-nav-order: 10

left-nav:
- Data Quality Planning
- Data Profiling
- Data Quality Assessment
- Data Cleansing and Improvement
---

{% include left-content-nav.html %}



<div class="pure-u-14-24 center-content" tabindex="0">

	<p class="page-definition">Best practices for planning and implementing a comprehensive approach for the detection of defects, the definition of quality requirements, and the data cleansing and improvements that ensure the approach’s fitness for the data’s intended uses in operations, decision making, and analytics.</p> 

	<p>The Data Quality category process areas comprise an organization-wide approach that enables staff to fully understand the current quality of data under management and institute processes and mechanisms to achieve the following objectives:</p>
	<ul>
		<li>Develop an organization-wide plan to prioritize and plan quality efforts;</li>
		<li>Evaluate, prevent, and remediate data defects;</li>
		<li>Ensure that the quality of data meets business purposes and supports the organization’s tactical and strategic objectives;</li>
		<li>Implement effective processes, procedures, and mechanisms for cleansing data; and</li>
		<li>Undertake business process improvements according to their impact on data capture, management, and quality.</li>
	</ul>

	<p>In short, these process areas describe a comprehensive data quality program, driven by a data quality plan.  Efforts to improve data quality are often scattered and addressed on a project by project basis.  For a data set as vital and central as patient demographic data, all stakeholders who create, update, or modify the data through any business process must be involved and accept shared responsibilities for data quality. This can be summarized as evolving toward a ‘quality culture.’</p>

	<p>Data Quality Planning is foundational for all data quality management activities. It addresses activities to help an organization create a defined, approved, and integrated plan to achieve improved data quality that meets business needs. Data Profiling is the discovery of the actual condition of physical data which reveals defects, anomalies, and opportunities to enhance quality rules.  Data Quality Assessment addresses activities that help the organization evaluate critical data sets against defined quality objectives. Data Cleansing and Improvement assists the organization to develop successful and repeatable processes for cleansing data, supports root cause analysis, and reveals opportunities to enhance business processes to produce better quality data.</p>

	<p>Implementing the practices contained in this category will help to translate quality objectives and priorities into actionable plans, designed to be administered as an organization-wide program to actively manage patient demographic data across all of the dimensions of quality. The organization can then recognize and capitalize on opportunities that allow it to realize maximum value from accurate, trusted data.</p>

</div> <!-- end center content -->


{% include right-content.html %}

