---
layout: standard-page
title: Data Quality
slug: data-quality
group: Data Quality
left-content-nav-order: 0

left-nav:
- Data Quality Planning
- Data Profiling
- Data Quality Assessment
- Data Cleansing and Improvement
---

{% include left-content-nav.html %}



<div class="pure-u-14-24 center-content">
	<h3 id="data-quality-planning" class="subheading">Data Quality Planning</h3>

	<h4>Purpose</h4>

	<p>Establish the ownership, stewardship, and operational structures needed to ensure that data is managed as a critical asset and implemented in an effective and sustainable manner.</p>

	<h4>Introductory Notes</h4>

	<p>Governance focuses on implementing processes that facilitate collaborative agreements, decision making, and approvals.  This leads to effectively implementing building, sustaining, and compliance functions for the data assets, as described below:</p>

	<ul>
		<li><strong>Building</strong> - governance bodies with stakeholder representation need to be actively engaged in making consensus decisions about important aspects of patient demographic data and involved in efforts to improve it, such as contributing terms or definitions to the business glossary (e.g., clarifying use of a term for their business activities), providing metadata (e.g., identifying a data owner for Patient Street Address), approving standards (e.g., Patient Last Name must not exceed 60 characters), and defining quality rules (e.g., Patient Middle Name must not contain an initial).</li>
		<li><strong>Sustaining</strong> - governance participants need to remain engaged over time, as new processes are added (e.g., a data quality assessment process), as new data requirements are considered, as business terms are added, and as metadata and standards are modified.  In addition, governance needs to exercise control over data management functions, such as reviewing and approving a process for requesting data access, etc.</li>
		<li><strong>Compliance</strong> - governance should have the authority to determine effective compliance processes, such as thorough reviews, audits, quality assurance, etc., to ensure that: approved standards are being followed; approved processes are implemented; approved metadata is being captured; and that the right stakeholders are involved in decisions that affect them.</li>
	</ul>

	<p>Strengthening capabilities with these practices creates a corporate culture of shared engagement and responsibility for patient demographic data that is created and managed.  The business owns the data it creates and manages; therefore, lasting improvements cannot be realized without significant engagement with the business.</p>

	<p>The data governance structure that is selected should correlate with the organizational hierarchy and its primary business processes. Key functions for data governance usually include the following actions:</p>

	<ul>
		<li>Approve data management plans, policies, processes, and standards;</li>
		<li>Assign accountability and responsibility for owners, stewards, and custodians (physical data stores);</li>
		<li>Develop decision rights and change processes;</li>
		<li>Address regulatory and other external requirements; and</li>
		<li>Enforce compliance.</li>
	</ul>

	<p>Most organizations implement governance at more than one level, both permanent governance bodies and those that are convened for launching new initiatives, for example:</p>

	<ul>
		<li>An executive governance body may be charged with oversight for ensuring that business, technology, and operations are communicating and following defined processes to manage and improve the patient demographic data, determining priorities, approving technology selection decisions, etc.</li>
		<li>A committee of data stewards, representatives with delegated responsibility for making decisions about shared data as it impacts their business processes, may be created to participate in collective decisions, reviews, and approvals for processes, standards, and compliance mechanisms, etc.</li>
		<li>Temporary data working groups may be formed from the data steward group and other delegated staff for specific purposes, for example to develop metrics and milestones for data quality improvements.</li>
		<li>Tactical work groups, permanent or temporary may be created at the behest of permanent governance bodies to achieve specific objectives, such as: to assure the quality of critical data attributes; to analyze business process for modifications that will improve data quality; and to resolve specific business challenges with patient data.</li>
	</ul>

	<p>The data governance function may begin by focusing on a small set of activities and processes, but it typically expands over time to include additional tasks and responsibilities. For example, implementing a Master Patient Index is an effort that would engage numerous business representatives across the patient demographic data lifecycle.</p>

	<p>Key factors for successful implementation of data governance include the following:</p>

	<ul>
		<li>An approved governance charter(s);</li>
		<li>Executive oversight, governance policies, goals, and objectives;</li>
		<li>Clearly defined roles and responsibilities; and</li>
		<li>Well-designed supporting processes, such as issues escalation.</li>
	</ul>

	<p>When governance for patient demographic data is implemented successfully and sustained over time, the organization can realize the following benefits:</p>

	<ul>
		<li>Increased awareness and shared responsibility for data standards and quality on the part of all stakeholders;</li>
		<li>Increased efficiency of arriving at informed decisions about patient data;</li>
		<li>Increased assurance that all business needs have been factored into decisions;</li>
		<li>Strengthened compliance for policies, processes, and standards; and </li>
		<li>Increased teamwork and likelihood of success for group efforts (e.g., business glossary, data standards, etc.).</li>
	</ul>

	<h3 id="data-profiling" class="subheading">Data Profiling</h3>

	<h4>Purpose</h4>

	<p>Communication practices foster effective internal and external communication about the management of patient demographic data which are implemented, published, followed, and refined based on feedback.</p>

	<h4>Introductory Notes</h4>

	<p>Improving data quality for patient demographic data requires collaboration among stakeholders across the lifecycle from creation or acquisition to archiving or deletion. For example, matching and linking patients’ data across the healthcare continuum relies on sophisticated algorithms that depend on the accuracy, availability, and interoperability of patient demographic data.</p>

	<p>Improving patient demographic data quality requires collaboration and clear, timely communication among all stakeholders. Consistent and accurate communication enables a consistent understanding among stakeholders and ensures receipt of information about enhancements or changes to standards, processes, and procedures. Since patient demographic data will be used to improve patient care for the foreseeable future, its management, modifications, and improvements will continue to require effective communications over time.</p>

	<p>“Communications” comprises important activities that enhance collaboration. It typically includes policies, plans, roles, responsibilities, and methods for informing all relevant internal and external stakeholders about the management of patient demographic data. If communications best practices are effectively operational, the following benefits can be realized:</p>

	<ul>
		<li>Improved common understanding of what patient demographic data is needed, what it means, how it should be captured, and how it is represented – which also enables a stronger level of control over the data; </li>
		<li>Increased participation in data governance among stakeholders who either produce or consume data while conducting their business processes; </li>
		<li>Reinforced consistent understanding of essential concepts – raising the knowledge threshold; </li>
		<li>Decreased duration and complexity of decision-making affecting multiple stakeholders; </li>
		<li>Increased advance notice of change impacts to business processes, data stores, or data exchange, enabling timely planning.</li>
	</ul>

	<p>Typically, when organizations establish a new policy, it is not considered effective until it has been officially communicated according to the organization’s standard rollout method for enforcing new direction, also referred to as “promulgation.” Promulgation of patient demographic policies, data standards, and processes should be conducted through existing channels, consistent with the organization’s communications plan.</p>

	<p>Multiple communication channels can be employed, and each organization’s structure will determine which ones will yield the best results. While in-person events (e.g., regular meetings, structured workshops, town hall events, in-person instruction, etc.) are usually best for ensuring mutual understanding, they are not always possible due to demands on stakeholder time, geographic distribution, etc. Other methods may be employed according to the organization’s culture and preferences, such as email announcements, a portal, a shared repository, a newsletter, etc. The methods used, frequency, and timing of communications should be defined within a communications plan for patient demographic data management.</p>

	<p>It is a best practice to communicate policies, standards, and processes – which instruct recipients on what must be adhered to, complied with, or executed – in advance of the target adoption date and any compliance checks. A feedback process should be established to support stakeholders’ questions, recommendations, etc. Measurement of the effectiveness of communications can be assessed through the use of adoption metrics. For example, use metrics to determine if a new activity step in the patient registration process is adopted (e.g., verify whether or not a returning patient validated his/her existing data). A count of how often this was accomplished based on the number of returning patient visits would provide a success measure of the communication about the process modification.</p>

	<p>Published policies, standards, processes, procedures, and guidelines should be easy to locate and access for all relevant stakeholders. If a centralized electronic catalog is established for that purpose, it should be maintained to ensure that assets are up to date, and a method should exist whereby updates can be effectively communicated to impacted stakeholders.</p>



	
	<h3 id="data-quality-assessment" class="subheading">Data Quality Assessment</h3>
	
	<h4>Purpose</h4>

	<p>Provides data management resources to ensure that patient demographic data is managed effectively as a organizational asset, providing oversight and support to establish and maintain data management best practices, facilitate adoption, and ensure utilization.</p>

	<h4>Introductory Notes</h4>

	<p>The data management function is a core set of business processes, such as Finance, Human Resources, or Facilities Management, that provides resources to facilitate the establishment and adoption of best practices across data management disciplines, and which will always be needed across the full lifecycle of patient demographic data.</p>

	<p>The scope of the data management role will vary according to the size of the organization and its span of control over patient demographic data assets. For a small organization, the role may be fulfilled by one person, part-time; for larger organizations with a greater span of control over the data, a multi-person organization may be required. However, the essential concept is to assign accountability for persistent work products that the organization builds and maintains over time. Examples of these work products include data management policy and process documentation and quality rules that are developed to improve the quality of patient demographic data.</p>

	<p>The plan for data management resources should be based on the organization’s goals (e.g., to improve patient care and safety), objectives (e.g., eliminating duplicate patient records), and priorities.  For example, an important task would be to create quality rules to address defects discovered in a central data store receiving patient demographic data from multiple sources.</p>

	<p>The goals of recognizing a distinct data management function are to: institute responsibilities, authorities, and accountability over key data management assets; help ensure the adoption of consistent policies, processes, and standards; and align with data governance on data management priorities and decisions.  The benefits of implementing a recognized data management role include:</p>

	<ul>
		<li>Raising data awareness across the organization;</li>
		<li>Facilitating implementation of best practices, in collaboration with governance representatives;</li>
		<li>Reducing duplicative efforts by promoting best practices; and</li>
		<li>Fostering adoption of data-related processes, standards, and guidelines.</li>
	</ul>

	<p>In most organizations, the data management function has typically originated within IT and was closely linked to the design and implementation of data stores. As organizations have moved toward appreciating the criticality and value of their data assets, the data management function has become more of a business function. The data management role is increasingly becoming a business-centric leadership role for implementing data management capabilities and conducting compliance actitivities. For example, the data management function maintains the continutity of governance activities, such as the creation and maintenance of the organization’s business glossary and metadata.</p>

	<p>The success of data management depends on business ownership of its goals and objectives. The lines of accountability and responsibility for data management activities are typically communicated in an organizational chart, an interaction diagram, and often using a Responsible, Accountable, Consulted, Informed (RACI) matrix.  In a larger organization, it may be useful to document the mission, objectives, and responsibilities of the data management function in the form of a charter. However, even in a very small organization, it is advised to consider recognition and assignment of this role.</p>


	<h3 id="data-cleansing-and-improvement" class="subheading">Data Cleansing and Improvement</h3>
	
	<h4>Purpose</h4>

	<p>Business glossary practices ensure collaborative agreements on business terms and definitions, creating common understanding about patient demographic data that supports business processes for all relevant stakeholders.</p>

	<h4>Introductory Notes</h4>

	<p>A business glossary is a compendium of business terms and definitions, which have been approved by stakeholders and are maintained and governed. The language representing the data should be aligned with the language of the business.</p>

	<p>Consistent terms and definitions, with corresponding metadata, are essential to managing patient demographic data across its lifecycle in the context of meaning. Agreement about term names and definitions is essential to ensure that all stakeholders who supply or consume the data understand it the same way without ambiguity. If common understanding of terms for shared data is lacking, business processes are negatively affected.</p>

	<p>The business glossary represents agreement among key stakeholders on the language and associated meaning pertaining to patient data needed to support quality care, efficient payments, and patient safety. If business terminology is not uniquely named and defined, confusion and inefficiencies may cause issues.</p>

	<p>The benefits of building and maintaining a glossary of standard patient demographic business terms include:</p>

	<ul>
		<li>Increased understanding and communication among business units and stakeholders;</li>
		<li>Improved foundation for developing data requirements for new data stores;</li>
		<li>Improved accuracy and clarity of reports;</li>
		<li>Improved agility for effective sharing and integration of patient data;</li>
		<li>Enabled tracing of data lineage from receipt or acquisition through its movement across business processes and data stores;</li>
		<li>Enhanced agility in exchanging data with external suppliers or consumers; and</li>
		<li>Increased collaborative effort and positive achievement for governance participants.</li>
	</ul>

	<p>Standardizing business terms is the starting point for standardizing metadata (formats, values, ranges, lengths) and any physical specifications that are required to optimize patient identification and matching. Building knowledge (metadata) about patient demographic data is the baseline for making decisions about modifying or adding to the set of core demographic data elements. Standard business terms should be easily accessible to all stakeholders.</p>

	<p>Business terms relevant to patient demographic data may be: adopted from a glossary included with vendor services or software, adopted (or adapted) from an existing set of industry standard terms, or created by the organization itself. What is important is that the organization creates, approves, and updates consistent business terms and definitions, fostering a shared understanding and usage across the data lifecycle. Each term in the glossary should refer to an atomic concept without ambiguity or duplication.</p>

	<p>Business terms can be challenging to define, reconcile, approve, and maintain. Usage of terms within a single business unit may support its needs, but vary from the usage in other groups. In addition, terms may have connotative meanings that must be explored, harmonized, and decided upon through collaborative agreements.</p>

	<p>In many organizations, development of data stores takes place in the context of an information systems project, and without applying consistent business terms, there is a risk of creating new names and alternate definitions that may complicate future data integration and incur rework. Standard business terms are the underpinning for trend and predictive analyses, semantic modeling, taxonomies, and ontologies.</p>

	<p>An organization is advised to create a defined process by which business terms and their corresponding definitions are created, approved, updated, maintained, and governed. Standards for business terms, including naming conventions, abbreviations, standard definitions, and standard metadata (for example, date created, data owner, etc.) should accompany the process.</p>


</div> <!-- end center content -->





<div class="pure-u-5-24 right-content">

	
	{% include evaluate.html %}
</div> <!-- end right content -->

