---
layout: standard-page
title: Supporting Processes
slug: supporting-processes
group: Supporting Processes
left-content-nav-order: 0
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">

	<p class="page-definition">Business processes and capabilities required for evaluation, effectiveness, and implementation consistency across all data management processes.</p>

	<em>Supporting Processes</em> contains a set of foundational best practices that have been implemented within the system development lifecycle at most organizations, but in general have not been adopted consistently across the data management disciplines and processes.  Supporting processes can be thought of as “good housekeeping” activities that foster adoption, consistent execution, and continued improvement of data management processes.

	<em>Measurement and Analysis</em> addresses measures and metrics that assist the organization in identifying strengths as well as discovering gaps and improvement areas in data management processes. <em>Process Management</em> advocates developing organizational process assets, such as plans, policies, processes, guidelines, templates, and procedures.  It also addresses impact analysis and deployment of data management process improvements informed by the organization’s goals and objectives. <em>Process Quality Assurance</em> provides staff and management with objective insight into process execution and the associated work products, and provides a mentoring and evaluation capability for data management practices.

	Implementation of these practices will strengthen the adoption and consistent performance of data management processes developed by the organization, and improve data awareness and engagement of stakeholders

	<h3 id="" class="subheading">Measurement and Analysis</h3>

	<h4>Purpose</h4>

	<p>Provides practices that enable an organization to develop a meaningful measurement capability to support milestone tracking and monitoring of the effectiveness of data management activities.</p>

	<h4>Introductory Notes</h4>

	<p>An organization instituting a data management program or enhancing existing data management processes needs to determine how progress and improvements will be measured.  The organization can expect that business representatives, information technology staff, managers, and executives will want to know what is being achieved in return for the effort and expense incurred, since developing and implementing new processes also ushers in some changes to the current state of work as usual.</p>

	<p>Meaningful measures and metrics, once defined and approved by relevant stakeholders through governance, are an effective communication and monitoring mechanism.  Capabilities for developing measures and metrics include abilities to:</p>
	<ul>
		<li>Define objectives – what should the organization measure and why;</li>
		<li>Obtain and store – how will measures be captured, where will they be stored, how will they be made available;</li>
		<li>Analyze and interpret – how the measures and metrics will be used and what the consensus is on their meaning;</li>
		<li>Evaluate progress and the effectiveness of measured process – monitoring against objectives, using results to improve the process;</li>
		<li>Report to relevant audiences – how, and how often, will results be reported to relevant stakeholders and management; and</li>
		<li>Interpret results and evaluate impacts to identify remediation actions.</li>
	</ul>

	<p>For the purpose of data management, measures and metrics can be confused as these terms are often not used precisely.  In the context of this document, they are defined as followed:</p>

	<ul>
		<li><strong>Measure</strong> - a count that is collected, and presents a quantified result that is used for reporting and monitoring. Measures may initially be applied to create a baseline and tracked to gauge improvements. Examples of measures include: number of defects, transaction counts, and number of duplicates.</li>
		<li><strong>Metric</strong> - specifies the quantification of measures to derive business meaning. Specifically, a metric defines the calculation method (+, -, *, /, %, etc.) and unit of measure(s), as well as the meaning and context of the specified measurements.  Examples of metrics include: percentage of records with one or more missing data elements, percentage of unmatched records, rate of matching percentage improvement by month, etc.</li>
	</ul>

	<p>Over the past few decades, data management as a set of organized disciplines has lagged in overall capabilities compared to software development and engineering.  Even organizations which have a set of sensible measures and metrics in place for IT, such as number of defects, defect rates, delivery times for lifecycle phases, error classifications (e.g. severe, moderate, minor) etc., do not typically build in measures and metrics for data management products and activities as they are established.  This is unfortunate, because metrics serve a number of important purposes:</p>
	<ul>
		<li><strong>Progress tracking</strong> – those involved with performing the process can track achievements against milestones and monitor results to demonstrate how effective their efforts have been according to the baseline.  This information by itself has been proven to improve outcomes and also serves to motivate staff.</li>
		<li><strong>Management visibility</strong> – managers and executives can make better decisions about resources, costs, and priorities based on meaningful metrics.</li>
		<li><strong>Funding justification</strong> – a set of measures and metrics, established according to objectives and maintained and published, increases the likelihood of continuing to receive funding for important work.</li>
	</ul>

	<p>Establishing metrics for data management processes (e.g. number of data stores profiled, number of defects, number of unmatched patient records, matching rates over time, etc.) and products (e.g. number of data elements for which metadata is complete, number of development projects following data standards, number of noncompliance occurrences, etc.) reveals issues to be resolved, provides objective feedback to stakeholders, and maintains alignment of data management to business objectives.  It is recommended to start with one key data management process area or one well-defined subset of data, to allow stakeholders to learn the measurement definition process. Involved staff will quickly gain in skill at developing useful measures and metrics once they have engaged in the steps of the process together.</p>

	<p>Measurement and analysis provides valuable information about the performance of data management efforts, through a sequenced approach including the following steps.</p>

	<ul>
		<li>Specifying the objectives for measures and metrics to ensure that they are aligned with identified information needs and objectives.
			<ul>
				<li>Gain agreement on a ‘vision of the good’ – objectives for the process area, e.g., lower the number of patient records with missing demographic data; and</li>
				<li>Determine what can be quantitatively demonstrated to gain insight into progress toward the objectives.</li>
			</ul>
		</li>

		<li>Specifying measures, analysis techniques, and mechanisms for data collection, storage of measurement data, reporting, and feedback.
			<ul>
				<li>Determine how the quantitative information can be captured;</li>
				<li>Decide when the baseline will be conducted;</li>
				<li>Decide where the measurement data will be stored; and</li>
				<li>Determine the stakeholders who should be informed.</li>
			</ul>
		</li>

		<li>Implementing the analysis techniques and mechanisms for data collection, data reporting, and feedback.
			<ul>
				<li>Precisely define the measures (i.e., counts) and metrics (i.e., calculations) and decide how they will be interpreted; and</li>
				<li>Define a reporting standard, channel, and frequency – e.g., governance will receive detailed and summary metrics monthly, executives will receive quarterly summary reports, a dashboard will be available to all interested parties, etc.</li>
			</ul>
		</li>

		<li>Providing objective results that can be used in making informed decisions and taking appropriate remediation action.
			<ul>
				<li>Develop decision criteria for management that assists in determining if changes to priorities or resources are necessary to achieve the objectives.</li>
			</ul>
		</li>
	</ul>

	<p>The integration of measurement and analysis activities into data management processes enables the following capabilities:</p>
	<ul>
		<li>Objective validation of facts about improvements against the measures;</li>
		<li>Alignment of measures to one or more business decisions;</li>
		<li>Engagement of relevant stakeholders in developing and employing measures and metrics;</li>
		<li>Increased transparency by making key measures and metrics visible and accessible; and</li>
		<li>Periodic evaluation of measurement data to ensure that it remains useful.</li>
	</ul>

	<p>It is difficult to overstate the benefits that the organization can realize by intentionally evolving its business processes to embed the definition and use of metrics.  Benefits include:</p>
	<ul>
		<li>Focuses and motivates improvement efforts, what gets measured gets accomplished;</li>
		<li>Enables prediction towards objectives and reduces estimation risk;</li>
		<li>Increases accuracy of estimating time, effort, and recourses;</li>
		<li>Improves resource productivity through objective analysis of work and by a stronger focus on objectives;</li>
		<li>Reveals actual vs. planned progress;</li>
		<li>Identifies and resolves process related issues;</li>
		<li>Informs assessment if current progress will lead to achievement of goals; and</li>
		<li>Provides evidence of progress to support funding for data improvements.</li>
	</ul> 	
	
	<h3 id="" class="subheading">Process Management</h3>

	<h4>Purpose</h4>

	<p>Provides guidance for establishing and maintaining a usable set of data management process assets and the planning, implementing, and deployment of process improvements, informed by business goals and objectives and identified process gaps.</p>

	<h4>Introductory Notes</h4>

	<p>The organization’s data management process assets collectively support instantiation of positive behavioral changes which become the established way of working.  They support organizational learning and continued process improvement by enabling the sharing of best practices across the organization. They constitute the mechanisms for improving patient demographic data.  The term “assets” in this context include:</p>
	<ul>
		<li>Defined processes – documented and approved;</li>
		<li>Data and metadata standards – documented and approved;</li>
		<li>Data management process metrics – documented, approved, and updated periodically;</li>
		<li>Work product templates – structure and descriptions of content;</li>
		<li>Sample work products – selected completed work products used for examples;</li>
		<li>Persistent products – e.g. business glossary, metadata repository;</li>
		<li>Guidelines – assistance with the details of performing adopted processes, tips by individuals who have performed the process, tool-specific procedures, etc.;</li>
		<li>Training – process training slides, videos, etc.; and</li>
		<li>Quality assurance results – gaps found, changes proposed, and lessons learned.</li>
	</ul>

	<p>It is recommended to ensure availability of process assets through creation of a library, which can be automated through a portal, provided as links on an organization’s internal web site, or simply placed in a folder in a shared directory.  What is important is that all stakeholders who perform, govern, or provide oversight to a process can easily access the material they need.</p>

	<p>The organization’s data management processes for patient demographic data quality improvement include all processes addressed in this document that are used by the organization and staff.  Candidate improvements proposed for processes are discovered through various means, including:  process metrics, lessons learned by implementing processes, quality assurance results, work product reviews, consumer satisfaction evaluations, and benchmarking against the Patient Demographic Data Quality Framework.</p>

	<p>Improvements to processes occurs according to the organization’s priorities and business needs. The organization should encourage process improvement suggestions from those who perform the process. The responsibility for managing the organization’s data management process assets and coordinating improvement activities is usually assigned to the data management function.  Defined processes can be applied to different types of projects and levels of process activity.  For example, if an organization does not host its own data store(s) for patient demographic data, data profiling is not applicable within the organization.  However, data quality assessment and provider management processes are applicable, as the organization must still determine its quality standards and should attempt to ensure that vendor systems apply the organization’s quality rules to the data provided, through data profiling and data cleansing.</p>   

	<p>Organizational process assets enable consistent process execution across the organization and provide a basis for cumulative, long-term benefits to the organization, including:</p>
	<ul>
		<li>Organizing information for all process performers and oversight staff;</li>
		<li>Improving the way work is performed, thus increasing staff productivity;</li>
		<li>Increasing efficiency to build and maintain data quality for patient demographic data;</li>
		<li>Accumulating process information that improves adoption and repeatability of approved processes; and</li>
		<li>Helping raise awareness of best practices that positively affect patient demographic data quality.</li>
	</ul>

	<h3 id="" class="subheading">Process Quality Assurance</h3>

	<h4>Purpose</h4>

	<p>Provides staff and management with objective insight into the execution of data management processes and the effectiveness of associated work products.</p>

	<h4>Introductory Notes</h4>

	<p>Once sound data management processes are established and operational, it is important to ensure that established processes are being executed as intended and delivering expected benefits, also known as process quality assurance. Implementing this process supports highquality delivery at all levels by providing visibility into and feedback on processes and their associated work products.</p>

	<p>Activities involved in performing quality assurance for processes include:</p>
	<ul>
		<li>Evaluating objectively the performance of processes and work products against process descriptions, standards, and procedures;</li>
		<li>Identifying and raising noncompliance issues;</li>
		<li>Providing feedback to staff and reporting to management about the results of quality assurance activities; and</li>
		<li>Ensuring that any noncompliance issues are addressed.</li>
	</ul>

	<p>Objectivity in quality assurance evaluations is important to yield meaningful feedback and improvements, and it can be achieved by employing unambiguous criteria and independent evaluators. Less formal approaches, such as peer reviews, are appropriate to assist process performers day-to-day. For critical processes, a more formal approach may be employed periodically to ensure objectivity, including: audits by internal, separate quality assurance staff; in-depth analysis of process execution as it is performed; quality assurance reviews of work products; and process checks added into activity steps to prevent failures.</p>

	<p>To consider an example of creating a quality assurance template for a data management process, take the case of an organization which is implementing its new data quality assessment process with the objective of improving the quality of patient demographic data.  This process involves a number of activity steps and staff roles (See Data Quality Assessment).  The table below depicts selected initial activity steps and indicates quality assurance considerations that can be applied:</p>

	<table class="pure-table">
		<thead>
			<tr>
				<th>DQA Activity Steps</th>
				<th>Work Products</th>
				<th>Quality Assurance Factors</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Convene working group of experts across the patient demographic lifecycle</td>
				<td>
					<p>Documentation of current data quality issues</p>
					<p>Fitness for purpose description</p>
				</td>
				<td>
					<p>Verify if all relevant stakeholders were involved</p>
					<p>Review list of current data quality issues</p>
					<p>Approve descriptions</p>
				</td>				
			</tr>

			<tr class="pure-table-odd">
				<td>Finalize initial set of key patient demographic data elements</td>
				<td>Data element list for quality assessment</td>
				<td>Review list and ensure that all identified data quality issues are aligned to one or more data elements</td>
			</tr>

			<tr>
				<td>Define thresholds and targets based on business needs and selected data quality dimensions</td>
				<td>For each data element, defined threshold (lowest acceptable quality) and target (aspirational level of quality)</td>
				<td>
					<p>Verify relevant data elements thresholds and targets</p>
					<p>Review quality dimensions applied and rationale provided</p>
					<p>Review thresholds and targets for relevance</p>
				</td>
			</tr>

		</tbody>
		
	</table>


	<p>In organizations that have succeeded in evolving a quality-oriented culture (See <em>Data Quality Planning</em>), the process quality assurance role can be performed completely by peers, and the quality assurance function can be an activity step in process performance. Those conducting the peer review should understand the process and be familiar with the work products used or produced by it. Reviewers of work products should not be the same individuals involved in creating or maintaining them.</p>

	<p>It is advised to create a review template or checklist to ensure that the same steps, standards, and approach are employed on every occasion. Once the quality assurance process has been developed and employed, it quickly becomes embedded into the organization’s culture and typically is valued by staff at all levels.</p>

	<p>Data management process quality assurance results should be communicated to governance, and if significant issues have been observed, they can be escalated as necessary. When noncompliance issues are identified, it is best to first address and resolve them, as possible, within the performing team. Quality assurance results often lead to discovery of useful improvements to the process itself or enhancements to standards and work products.</p>

	<p>It is ideal to consider quality assurance when developing a new process or directly following rollout to ensure that applicable policies, standards, work products, and procedures are incorporated into the plan for assuring effective execution.</p>

	<p>Implementing process quality assurance will enable the organization to realize these benefits:</p>
	<ul>
		<li>Ensure that processes aimed at improving patient demographic data quality are consistently followed;</li>
		<li>Identify process issues so they can be resolved;</li>
		<li>Identify potential process improvements;</li>
		<li>Implement mentoring function to improve process adoption and adherence; and</li>
		<li>Provide management visibility into process adoption and improvements.</li>
	</ul>


</div> <!-- end center content -->





<div class="pure-u-5-24 right-content">

	
	{% include evaluate.html %}
</div>
