---
layout: standard-page
title: Supporting Processes
slug: supporting-processes
group: Supporting Processes
left-content-nav-order: 25
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">

	<p class="page-definition">Business processes and capabilities required for evaluation, effectiveness, and implementation consistency across all data management processes.</p>

	<em>Supporting Processes</em> contains a set of foundational best practices that have been implemented within the system development lifecycle at most organizations, but in general have not been adopted consistently across the data management disciplines and processes.  Supporting processes can be thought of as “good housekeeping” activities that foster adoption, consistent execution, and continued improvement of data management processes.

	<em>Measurement and Analysis</em> addresses measures and metrics that assist the organization in identifying strengths as well as discovering gaps and improvement areas in data management processes. <em>Process Management</em> advocates developing organizational process assets, such as plans, policies, processes, guidelines, templates, and procedures.  It also addresses impact analysis and deployment of data management process improvements informed by the organization’s goals and objectives. <em>Process Quality Assurance</em> provides staff and management with objective insight into process execution and the associated work products, and provides a mentoring and evaluation capability for data management practices.

	Implementation of these practices will strengthen the adoption and consistent performance of data management processes developed by the organization, and improve data awareness and engagement of stakeholders

</div> <!-- end center content -->


{% include right-content.html %}
