---
layout: standard-page
title: Process Quality Assurance
group: Supporting Processes
left-content-nav-order: 3
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">

	<h3 class="subheading" tabindex="0">Process Quality Assurance</h3>

	<h4>Purpose</h4>

	<p>Provides staff and management with objective insight into the execution of data management processes and the effectiveness of associated work products.</p>

	<h4>Introductory Notes</h4>

	<p>Once sound data management processes are established and operational, it is important to ensure that established processes are being executed as intended and delivering expected benefits, also known as process quality assurance. Implementing this process supports highquality delivery at all levels by providing visibility into and feedback on processes and their associated work products.</p>

	<p>Activities involved in performing quality assurance for processes include:</p>
	<ul>
		<li>Evaluating objectively the performance of processes and work products against process descriptions, standards, and procedures;</li>
		<li>Identifying and raising noncompliance issues;</li>
		<li>Providing feedback to staff and reporting to management about the results of quality assurance activities; and</li>
		<li>Ensuring that any noncompliance issues are addressed.</li>
	</ul>

	<p>Objectivity in quality assurance evaluations is important to yield meaningful feedback and improvements, and it can be achieved by employing unambiguous criteria and independent evaluators. Less formal approaches, such as peer reviews, are appropriate to assist process performers day-to-day. For critical processes, a more formal approach may be employed periodically to ensure objectivity, including: audits by internal, separate quality assurance staff; in-depth analysis of process execution as it is performed; quality assurance reviews of work products; and process checks added into activity steps to prevent failures.</p>

	<p>To consider an example of creating a quality assurance template for a data management process, take the case of an organization which is implementing its new data quality assessment process with the objective of improving the quality of patient demographic data.  This process involves a number of activity steps and staff roles (<em>See Data Quality Assessment</em>).  The table below depicts selected initial activity steps and indicates quality assurance considerations that can be applied:</p>

	<table class="pure-table">
		<thead>
			<tr>
				<th>DQA Activity Steps</th>
				<th>Work Products</th>
				<th>Quality Assurance Factors</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Convene working group of experts across the patient demographic lifecycle</td>
				<td>
					<p>Documentation of current data quality issues</p>
					<p>Fitness for purpose description</p>
				</td>
				<td>
					<p>Verify if all relevant stakeholders were involved</p>
					<p>Review list of current data quality issues</p>
					<p>Approve descriptions</p>
				</td>				
			</tr>

			<tr class="pure-table-odd">
				<td>Finalize initial set of key patient demographic data elements</td>
				<td>Data element list for quality assessment</td>
				<td>Review list and ensure that all identified data quality issues are aligned to one or more data elements</td>
			</tr>

			<tr>
				<td>Define thresholds and targets based on business needs and selected data quality dimensions</td>
				<td>For each data element, defined threshold (lowest acceptable quality) and target (aspirational level of quality)</td>
				<td>
					<p>Verify relevant data elements thresholds and targets</p>
					<p>Review quality dimensions applied and rationale provided</p>
					<p>Review thresholds and targets for relevance</p>
				</td>
			</tr>

		</tbody>
		
	</table>


	<p>In organizations that have succeeded in evolving a quality-oriented culture (<em>See Data Quality Planning</em>), the process quality assurance role can be performed completely by peers, and the quality assurance function can be an activity step in process performance. Those conducting the peer review should understand the process and be familiar with the work products used or produced by it. Reviewers of work products should not be the same individuals involved in creating or maintaining them.</p>

	<p>It is advised to create a review template or checklist to ensure that the same steps, standards, and approach are employed on every occasion. Once the quality assurance process has been developed and employed, it quickly becomes embedded into the organization’s culture and typically is valued by staff at all levels.</p>

	<p>Data management process quality assurance results should be communicated to governance, and if significant issues have been observed, they can be escalated as necessary. When noncompliance issues are identified, it is best to first address and resolve them, as possible, within the performing team. Quality assurance results often lead to discovery of useful improvements to the process itself or enhancements to standards and work products.</p>

	<p>It is ideal to consider quality assurance when developing a new process or directly following rollout to ensure that applicable policies, standards, work products, and procedures are incorporated into the plan for assuring effective execution.</p>

	<p>Implementing process quality assurance will enable the organization to realize these benefits:</p>
	<ul>
		<li>Ensure that processes aimed at improving patient demographic data quality are consistently followed;</li>
		<li>Identify process issues so they can be resolved;</li>
		<li>Identify potential process improvements;</li>
		<li>Implement mentoring function to improve process adoption and adherence; and</li>
		<li>Provide management visibility into process adoption and improvements.</li>
	</ul>

	<div class="featherlight-group">

		{% include_relative questions-help/process-quality-assurance/process-quality-assurance-1-1.html %}

		{% include_relative questions-help/process-quality-assurance/process-quality-assurance-2-1.html %}

		{% include_relative questions-help/process-quality-assurance/process-quality-assurance-2-2.html %}

		{% include_relative questions-help/process-quality-assurance/process-quality-assurance-3-1.html %}


	</div>


</div> <!-- end center content -->


{% include right-content.html %}