---
layout: standard-page
title: Process Management
group: Supporting Processes
left-content-nav-order: 2
---

{% include left-content-nav.html %}


<div class="pure-u-14-24 center-content">
	
	<h3 class="subheading" tabindex="0">Process Management</h3>

	<h4>Purpose</h4>

	<p>Provides guidance for establishing and maintaining a usable set of data management process assets and the planning, implementing, and deployment of process improvements, informed by business goals and objectives and identified process gaps.</p>

	<h4>Introductory Notes</h4>

	<p>The organization’s data management process assets collectively support instantiation of positive behavioral changes which become the established way of working.  They support organizational learning and continued process improvement by enabling the sharing of best practices across the organization. They constitute the mechanisms for improving patient demographic data.  The term “assets” in this context include:</p>
	<ul>
		<li>Defined processes – documented and approved;</li>
		<li>Data and metadata standards – documented and approved;</li>
		<li>Data management process metrics – documented, approved, and updated periodically;</li>
		<li>Work product templates – structure and descriptions of content;</li>
		<li>Sample work products – selected completed work products used for examples;</li>
		<li>Persistent products – e.g. business glossary, metadata repository;</li>
		<li>Guidelines – assistance with the details of performing adopted processes, tips by individuals who have performed the process, tool-specific procedures, etc.;</li>
		<li>Training – process training slides, videos, etc.; and</li>
		<li>Quality assurance results – gaps found, changes proposed, and lessons learned.</li>
	</ul>

	<p>It is recommended to ensure availability of process assets through creation of a library, which can be automated through a portal, provided as links on an organization’s internal web site, or simply placed in a folder in a shared directory.  What is important is that all stakeholders who perform, govern, or provide oversight to a process can easily access the material they need.</p>

	<p>The organization’s data management processes for patient demographic data quality improvement include all processes addressed in this document that are used by the organization and staff.  Candidate improvements proposed for processes are discovered through various means, including:  process metrics, lessons learned by implementing processes, quality assurance results, work product reviews, consumer satisfaction evaluations, and benchmarking against the Patient Demographic Data Quality Framework.</p>

	<p>Improvements to processes occurs according to the organization’s priorities and business needs. The organization should encourage process improvement suggestions from those who perform the process. The responsibility for managing the organization’s data management process assets and coordinating improvement activities is usually assigned to the data management function.  Defined processes can be applied to different types of projects and levels of process activity.  For example, if an organization does not host its own data store(s) for patient demographic data, data profiling is not applicable within the organization.  However, data quality assessment and provider management processes are applicable, as the organization must still determine its quality standards and should attempt to ensure that vendor systems apply the organization’s quality rules to the data provided, through data profiling and data cleansing.</p>   

	<p>Organizational process assets enable consistent process execution across the organization and provide a basis for cumulative, long-term benefits to the organization, including:</p>
	<ul>
		<li>Organizing information for all process performers and oversight staff;</li>
		<li>Improving the way work is performed, thus increasing staff productivity;</li>
		<li>Increasing efficiency to build and maintain data quality for patient demographic data;</li>
		<li>Accumulating process information that improves adoption and repeatability of approved processes; and</li>
		<li>Helping raise awareness of best practices that positively affect patient demographic data quality.</li>
	</ul>

	<div class="featherlight-group">

		{% include_relative questions-help/process-management/process-management-1-1.html %}

		{% include_relative questions-help/process-management/process-management-2-1.html %}

		{% include_relative questions-help/process-management/process-management-3-1.html %}


	</div>

</div> <!-- end center content -->


{% include right-content.html %}
