---
layout: standard-page
title: Worksheet
group: Worksheet
---


{% include left-content-worksheet-nav.html %}

{% assign pagesWorksheet = site.html_pages | sort: "group" %}

<div class="pure-u-18-24 center-content has-fixed-menu">
	<form action="" class="pure-form pure-form-stacked" id="worksheet-form">
	
		<div class="worksheet-button-bank">
			<a id="summarize" class="pure-button" href="{{site.baseurl}}/worksheet/score-summary">View Summary</a>
			<a id="clear" class="pure-button" href="#">Clear All Field Values</a>
		</div>

		<fieldset>

			{% for p in pagesWorksheet %}

				{% if p.slug %}
				{% unless p.slug == "introduction" %}
				
					{% for item in site.data.worksheet-menu[p.slug].children %}
				

					<legend class="process-area-group" id="{{item.name | slugify}}-process-area">{{ item.name }}</legend>
					

					<div class="pure-g">
						<div class="process-area-block">
						<div class="{{item.name |slugify }}-process-area">  <!--groups class removed-->

						<div class="pure-u-9-24">
							<p>Question</p>
						</div>
						<div class="pure-u-3-24">
							<p>Attainment</p>
						</div>
						<div class="pure-u-6-24">
							<p>Evidence of Attainment</p>
						</div>
						<div class="pure-u-6-24">
							<p>Notes</p>
						</div>

						{% for thing in item.evaluation %}



							{% for question in thing.questions %}

		
								<div class="pure-u-9-24">
									<span class="evaluation-question"><span>{{ question.number }}</span> {{ question.content }}</span>
								</div>

								<div class="pure-u-3-24">
									<label class="element-invisible" for="{{ item.name | slugify }}-attainment-{{ question.number | slugify }}">Attainment</label>
									<select data-tier="{{thing.tier}}" class="attainment-fields worksheet-fields" name="{{ item.name | slugify }}-attainment-{{ question.number | slugify }}" id="{{ item.name | slugify }}-attainment-{{ question.number | slugify }}">
										<option value="full">Full</option>
										<option value="partial">Partial</option>
										<option value="none" selected="selected">None</option>
									</select>
								</div>

								<div class="pure-u-6-24">
									<label class="element-invisible" for="{{ item.name | slugify }}-evidence-{{ question.number | slugify }}">Evidence</label>
									<textarea class="pure-u-23-24 worksheet-fields text-fields" name="{{ item.name | slugify }}-evidence-{{ question.number | slugify }}" id="{{ item.name | slugify }}-evidence-{{ question.number | slugify }}" rows="5" placeholder="This is where you enter evidence of attainment"></textarea>
								</div>

								<div class="pure-u-6-24">
									<label class="element-invisible" for="{{ item.name | slugify }}-notes-{{ question.number | slugify }}">Notes</label>
									<textarea class="pure-u-23-24 worksheet-fields text-fields" name="{{ item.name | slugify }}-notes-{{ question.number | slugify }}" id="{{ item.name | slugify }}-notes-{{ question.number | slugify }}" rows="5" placeholder="This is where you enter any notes that you may have"></textarea>
								</div>

								<div class="pure-u-1 question-break"></div>



							{% endfor %}

						{% endfor %} <!-- end for -->

						{% include summary.html %}

						</div>
					</div>
					</div> <!-- end pure-g -->

					

					{% endfor %} <!-- end for -->

				
				{% endunless %}
				{% endif %} 

			{% endfor %}

		</fieldset>
	</form>


</div> <!-- end center content -->
