---
layout: standard-page
title: Worksheet
group: Worksheet
---


{% include left-content-worksheet-nav.html %}

{% assign pagesWorksheet = site.html_pages | sort: "group" %}

<div class="pure-u-18-24 center-content">
	<form action="" class="pure-form pure-form-stacked">


		<div class="pure-g">
			<a id="clear" class="pure-button pure-u-1-5" href="#">CLEAR</a>
			<div class="pure-u-1-5"></div>
			<a id="save" class="pure-button pure-u-1-5" href="#">SAVE</a>
		</div>


		<fieldset>

			{% for p in pagesWorksheet %}

				{% if p.slug %}
				{% unless p.slug == "introduction" %}
				
					{% for item in site.data.worksheet-menu[p.slug].children %}
				

					<legend id="{{item.name | slugify}}-group">{{ item.name }}</legend>

					<div class="pure-g">

						<div class="pure-u-9-24">
							<p>Question</p>
						</div>
						<div class="pure-u-3-24">
							<p>Attainment</p>
						</div>
						<div class="pure-u-6-24">
							<p>Evidence of Attainment</p>
						</div>
						<div class="pure-u-6-24">
							<p>Notes</p>
						</div>

						{% for thing in item.evaluation %}

							{% for question in thing.questions %}


								<div class="pure-u-9-24">
									<span style="padding: 0em 1.1em 1em 0em; box-sizing: border-box; display: block"><span>{{ question.number }}</span> {{ question.content }}</span>
								</div>

								<div class="pure-u-3-24">
									<label class="element-invisible" for="{{ item.name | slugify }}-attainment-{{ forloop.index }}">Attainment</label>
									<select class="attainment-fields worksheet-fields" name="{{ item.name | slugify }}-attainment-{{ forloop.index }}" id="{{ item.name | slugify }}-attainment-{{ forloop.index }}">
										<option value="full">Full</option>
										<option value="partial">Partial</option>
										<option value="none" selected="selected">None</option>
									</select>
								</div>

								<div class="pure-u-6-24">
									<label class="element-invisible" for="{{ item.name | slugify }}-evidence-{{ forloop.index }}">Evidence</label>
									<textarea class="pure-u-23-24 worksheet-fields" name="{{ item.name | slugify }}-evidence-{{ forloop.index }}" id="{{ item.name | slugify }}-evidence-{{ forloop.index }}" rows="5" placeholder="This is where you enter evidence of attainment"></textarea>
								</div>

								<div class="pure-u-6-24">
									<label class="element-invisible" for="{{ item.name | slugify }}-notes-{{ forloop.index }}">Notes</label>
									<textarea class="pure-u-23-24 worksheet-fields" name="{{ item.name | slugify }}-notes-{{ forloop.index }}" id="{{ item.name | slugify }}-notes-{{ forloop.index }}" rows="5" placeholder="This is where you enter any notes that you may have"></textarea>
								</div>

								<div class="pure-u-1" style="height: 1px; border-bottom: 1px dotted #252525; margin: 1em 0em 1em 0em;"></div>

							{% endfor %}

						{% endfor %} <!-- end for -->


					</div> <!-- end pure-g -->

					{% endfor %} <!-- end for -->

					<br><br><br><br><br>
				{% endunless %}
				{% endif %} 

			{% endfor %}

		</fieldset>
	</form>

	<div style="width: 100%; height: 1000px"></div>

</div> <!-- end center content -->








<!-- 

<div class="pure-u-18-24 center-content">
	<form action="" class="pure-form pure-form-stacked">
		<fieldset>
			<legend id="introduction-group-1">Background</legend>
			<div class="pure-g">
			

				<div class="pure-u-9-24">
					<p>Question</p>
				</div>
				<div class="pure-u-3-24">
					<p>Attainment</p>
				</div>
				<div class="pure-u-6-24">
					<p>Evidence of Attainment</p>
				</div>
				<div class="pure-u-6-24">
					<p>Notes</p>
				</div>

	
				<div class="pure-u-9-24">
					<span style="padding: 0em 1.1em 1em 0em; box-sizing: border-box; display: block">1.1 Is a data governance structure defined and established with roles, responsibilities, and accountability assigned to all supplying and consuming business units involved in activities and decisions about patient demographic data?</span>
				</div>
				<div class="pure-u-3-24">
					<label class="element-invisible" for="background-1-1-attainment">Attainment</label>
					<select name="background-1-1-attainment" id="background-1-1-attainment">
						<option value="full">Full</option>
						<option value="partial">Partial</option>
						<option value="none">None</option>
					</select>
				</div>
				<div class="pure-u-6-24">
					<label class="element-invisible" for="evidence">Evidence</label>
					<textarea class="pure-u-23-24" name="evidence" id="evidence"  rows="5"></textarea>
				</div>
				<div class="pure-u-6-24">
					<label class="element-invisible" for="notes">Notes</label>
					<textarea class="pure-u-23-24" name="notes" id="notes"  rows="5"></textarea>
				</div>


				<div class="pure-u-1" style="height: 1px; border-bottom: 1px dotted #252525; margin: 1em 0em 1em 0em;"></div>
				


 -->


<!-- 

				<div class="pure-u-9-24">
					<span style="padding: 0em 1.1em 1em 0em; box-sizing: border-box; display: block">2.1 Does data governance follow defined policies and processes?</span>
				</div>
				<div class="pure-u-3-24">
					<label class="element-invisible" for="background-2-1-attainment">Attainment</label>
					<select name="background-2-1-attainment" id="background-2-1-attainment">
						<option value="full">Full</option>
						<option value="partial">Partial</option>
						<option value="none">None</option>
					</select>
				</div>
				<div class="pure-u-6-24">
					<label class="element-invisible" for="evidence">Evidence</label>
					<textarea class="pure-u-23-24" name="evidence"  rows="5"></textarea>
				</div>
				<div class="pure-u-6-24">
					<label class="element-invisible" for="notes">Notes</label>
					<textarea class="pure-u-23-24" name="notes"  rows="5"></textarea>
				</div>

				<div class="pure-u-1" style="height: 5px; border-bottom: 1px dotted #252525; margin: 1em 0em 1em 0em;"></div>






				<div class="pure-u-9-24">
					<span style="padding: 0em 1.1em 1em 0em; box-sizing: border-box; display: block">3.1 Does data governance define and approve appropriate metrics to evaluate the effectiveness of quality improvements to patient demographic data?</span>
				</div>
				<div class="pure-u-3-24">
					<label class="element-invisible" for="background-3-1-attainment">Attainment</label>
					<select name="background-3-1-attainment" id="background-3-1-attainment">
						<option value="full">Full</option>
						<option value="partial">Partial</option>
						<option value="none">None</option>
					</select>
				</div>
				<div class="pure-u-6-24">
					<label class="element-invisible" for="evidence">Evidence</label>
					<textarea class="pure-u-23-24" name="evidence" id=""  rows="5"></textarea>
				</div>
				<div class="pure-u-6-24">
					<label class="element-invisible" for="notes">Notes</label>
					<textarea class="pure-u-23-24" name="notes" id=""  rows="5"></textarea>
				</div>

				<div class="pure-u-1" style="height: 5px; border-bottom: 1px dotted #252525; margin: 1em 0em 1em 0em;"></div>







				<div class="pure-u-9-24">
					<span style="padding: 0em 1.1em 1em 0em; box-sizing: border-box; display: block">3.2 Is training in data governance processes available and required for participating stakeholders?</span>
				</div>
				<div class="pure-u-3-24">
					<label class="element-invisible" for="background-3-2-attainment">Attainment</label>
					<select name="background-3-2-attainment" id="background-3-2-attainment">
						<option value="full">Full</option>
						<option value="partial">Partial</option>
						<option value="none">None</option>
					</select>
				</div>
				<div class="pure-u-6-24">
					<label class="element-invisible" for="evidence">Evidence</label>
					<textarea class="pure-u-23-24" name="evidence" id=""  rows="5"></textarea>
				</div>
				<div class="pure-u-6-24">
					<label class="element-invisible" for="notes">Notes</label>
					<textarea class="pure-u-23-24" name="notes" id=""  rows="5"></textarea>
				</div>

				<div class="pure-u-1" style="height: 5px; border-bottom: 1px dotted #252525; margin: 1em 0em 1em 0em;"></div>


				
 -->

<!--

			</div>
			
		</fieldset>
	</form>
-->

	








