<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/vendors/pure-release-0.6.2/pure-min.css">
	<!--[if lte IE 8]>
        <link rel="stylesheet" href="assets/scss/vendors/pure-release-0.6.2/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/vendors/pure-release-0.6.2/grids-responsive-min.css">
    <!--<![endif]-->

	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
</head>
<body>
	<a href="#top-of-page" class="skip">Skip to content</a>
		

		
			{{ content }}

	

			
		
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<script src="{{site.baseurl}}/assets/js/jquery-3.1.1.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>
</html>